*{
    margin:0;
    padding: 0;
}
/*убирает рамку пунктиром вокруг кнопок*/
button::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  input[type="button"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="submit"]::-moz-focus-inner,
  input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
  border: none;
  }
/*импортируем шрифты*/
@font-face {
  font-family: RobotoRegular;
  src: url('fonts/RobotoRegular.ttf')  format("truetype");

  font-family: RobotoBold;
  src: url('fonts/RobotoBold/RobotoBold.ttf')  format("truetype");
  font-family: RoundsBlack;
  src: url('fonts/RoundsBlack/RoundsBlack.ttf')  format("truetype");

}


/*всегда писать эти 2 блока!!!*/
body{
    font: 100/1.5em;
    height: 100%;
}
p, text{
    padding-right: 2px;
}

.set-font-roboto{
    font-family: 'Roboto', sans-serif;
}

.set-font-round{
    font-family: RoundsBlack, 'RoundsBlack';
}


.set-font-size-22{
    font-size: 1.375em;
}

.set-font-size-69{
    font-size: 4.313em;
}

.set-font-color-white{
    color: white;
}

html{
  height: 100%;
}

a{
  text-decoration: none;
}

a:hover{
  color: #353535;
}

/*базовый контейнер*/
.container{
  width: 100%;
  height:100%;
  margin: 0 auto;
}

/*1 блок*/
.header-block{
  width: 100%;
  background-color: #5cc9cc;
  height: 800px;
}

.header-block-inside{
  height:100%;
  margin: 0 auto;
  background-image: url('images/1-block-png.png');
}


.logo{
  padding-top: 58px;
  padding-bottom: 33px;
  margin: 0 auto;
  width: 27.36%;
  height: 142px;
  max-width: 159px;
}

img {
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
}

.set-padding-give-to-arrive{
  padding-bottom: 8px;
}

.title{
  margin: 0 auto;
  width: 100%;
  height: 164px;
}

.buttom-blk{
  margin: 0 auto;
  width: 305px;
  height: 68px;
}

/*кнопкa*/
.try-button, 
.try-button:active, 
.try-button:focus{
width: 305px;
    height:68px;
    font-size: 1.125em;
    background: #edd04e;
    color: #005764;
    padding: 3px 0 3px 0;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border-width: 3px;
    border-color: #005764;
    border-style: solid;
    outline: none;
}


.try-button:hover {
  color: white;
  cursor: pointer;
}

.try-button:focus {
    border-style: inset;
  }

/*2 блок "как это работает?"*/
.how-it-work-block{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 650px;
}

.how-it-work-title{
  width: 100%;
  margin: 0 auto;
  height: 60px;
  padding-top: 60px;
  color: #5cc9cc;
  font-family: RoundsBlack, 'RoundsBlack';
  font-size: 2.500em;
}
/*base & order обеспечивают блоки в ряд, порядок именно такой для вложенности*/
.base{
    overflow:hidden;
    width: 100%;
    height:100%;

}
.order{
    white-space:nowrap;
    display:inline-block;
    width: 100%;
    height:100%;
}


.economy{
  float: left;
  width: 29.21%;
  height:557px;
}

.economy-inside{
  float: right;
  width: 96.82%;
  max-width: 397px;
  height: 100%;
}
.how-it-work-pic-1{
  margin: 0 auto;
  width: 100%;
  max-width: 397px;
  height: 290px;
}

.economy-title{
    margin: 0 auto;
    float: left;
    width: 100%;
    height:18px;
    padding-top: 59px;
    padding-bottom: 17px;
    color: #5cc9cc;
    font-size: 1.500em;
    font-family: RoundsBlack, 'RoundsBlack';

  }

.economy-text{
  margin: 0 auto;
  float: left;
  width: 100%;
  height:46px;
  color: #005764;
  font-size: 1.000em;
  font-family: 'Roboto', sans-serif;
}


.to-friends{
    float: left;
    width: 41.5%;
    height:557px;
}


.to-friends-inside{
  margin: 0 auto;
  width: 96.82%;
  max-width: 397px;
  height: 100%;
}

.how-it-work-pic-2{
  width: 100%;
  margin: 0 auto;
  height: 290px;
}

.to-friends-title{
    width: 100%;
    margin: 0 auto;
    height:18px;
    padding-top: 59px;
    padding-bottom: 17px;
    color: #5cc9cc;
    font-size: 1.500em;
    font-family: RoundsBlack, 'RoundsBlack';
  }

.to-friends-text{
  width: 100%;
  margin: 0 auto;
  height:46px;
  color: #005764;
  font-size: 1.000em;
  font-family: 'Roboto', sans-serif;
}


.be-fit{
    float: left;
    width: 29.21%;
    height:557px;
}

.be-fit-inside{
  float: left;
  width: 96.82%;
  max-width: 397px;
  height: 100%;
}


.how-it-work-pic-3{
  float: left;
  width: 100%;
  max-width: 397px;
  height: 290px;
  margin: 0 auto;
}

.be-fit-title{
    float: left;
    width: 100%;
    margin: 0 auto;
    height:18px;
    padding-top: 59px;
    padding-bottom: 17px;
    color: #5cc9cc;
    font-size: 1.500em;
    font-family: RoundsBlack, 'RoundsBlack';
  }

.be-fit-text{
  float: left;
  width: 100%;
  height:46px;
  color: #005764;
  font-size: 1.000em;
  font-family: 'Roboto', sans-serif;
}

/*создавайте и размещайте объявления*/
.create-and-set-announcement{
  width: 100%;
  height: 650px;
  margin: 0 auto;
}

.create-and-set-announcement-left{
  width: 50%;
  height: 650px;
  float: left;
  background-color: #5cc9cc;
}


.create-and-set-announcement-right{
  width: 50%;
  height: 650px;
  float: right;
  background-image: url('images/create-and-set-announcement-bk.jpg');
  background-repeat: repeat;
}

.create-and-set-announcement-pic-block{
  float: right;
  width: 71.42%;
  max-width: 500px;
  height:651px;
}

.create-and-set-announcement-info-block{
  float: left;
  width: 65%;
  height:650px;
}

.create-and-set-announcement-title-block{
  width: 75.77%;
  height: 77px;
  padding-top: 138px;
  padding-left: 96px;
  padding-bottom: 32px;
  color: white;
  font-family: RoundsBlack, 'RoundsBlack';
  font-size: 2.500em;
}



.create-and-set-announcement-text-block{
  width: 75.77%;
  height:44px;
  color: white;
  font-size: 1.125em;
  font-family: 'Roboto', sans-serif;
  padding-left: 96px;
  
}

.find-near{
  width: 100%;
  height: 124px;
  background-color: white;
}

.find-near-text{
  width: 100%;
  height: 30px;
  padding-top: 38px;
  padding-bottom: 50px;
  color: #5cc9cc;
  font-size: 2.500em;
  font-family: RoundsBlack, 'RoundsBlack';
}

.find-near-line{
  width: 100%;
  height: 4px;
  background-color: #5cc9cc;
}

.map{
  width: 100%;
  height: 615px;
  background-color: white;
}

.map-inside{
  width: 100%;
  max-width: 1400px;
  height: 575px;
  background-color: white;
  background-image: url('images/map.png');
  background-repeat: no-repeat;
  margin: 0 auto;
}

.line-after-map{
  width: 100%;
  height: 575px;
  background-color: white;
  background-image: url('images/map-line.png');
  background-repeat: repeat;
}

.question-title{
  width: 100%;
  height: 90px;
  background-color: #5cc9cc;
}

.question-title-text{
  width: 100%;
  height: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  font-size: 2.500em;
  font-family: RoundsBlack, 'RoundsBlack';
}


.question{
  width: 100%;
  height: 453px;
  background-color: white;
}

.try-first{
  width: 100%;
  height: 507px;
  background-color: #5cc9cc;
}

.try-first-inside{
  max-width: 1400px;
  height: 507px;
  background-image: url('images/try-first.png');
  background-repeat: no-repeat;
  margin: 0 auto;
}

.buttom-padding{
  padding-top: 150px;
}

.last-line{
  width: 100%;
  height: 67px;
  background-color: white;
  background-image: url('images/line.png');
}

.footer{
  width: 100%;
  height: 40px;
  background-color: white;
}

.footer-inside{
  width: 100%;
  height: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.footer-company{
  width: 10.5%;
  height: 22px;
  padding-left: 8.35%;
  padding-right: 58.71%;
  float: left;
  font-size: 0.875em;
  font-family: 'Roboto', sans-serif;
  color: #5cc9cc;

}

.s-image{
  width: 5.44%;
  height: 8px;
  max-width: 8px;
  float: left;
  padding-right: 5px;
}

.footer-contacts{
  width: 6%;
  height: 24px;
  float: left;
}

.footer-contact-ico{
  width: 28.57%;
  height: 24px;
  max-width: 24px;
  padding-right: 7px;
  float: left;
}
