/*для всего*/
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz--box-sizing: border-box;
    box-sizing: border-box;
}
/*убирает рамку пунктиром вокруг кнопок*/
button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none;
	}



/*всегда писать эти 2 блока!!!*/
body{
    font: 100/1.5em;
    height: 100%;
}
p, text{
    padding-right: 2px;
}

text{
    padding-left: 2px;
}

.set-font-title{
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
}

html{
height: 100%;
}

a{
text-decoration: none;
}

a:hover{
color: #353535;
}

.green-color{
    color: #019199;
}

.white-color{
    color: white;
}

.text-center{
    text-align: center;
    margin: 15% 0 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
}

/*базовый контейнер*/
.container{
    width: 100%;
    height:100%;
    background-image: url('images/bk-an.jpg');
    background-repeat: repeat;
    background-position: right bottom;
}

/*все от header*/
.header{
    width: 100%;
    min-width: 350px;
    max-width: 1400px;
    height: 5.2857%;
    min-height:74px;
    background-color: white;
}

.shadow{
    box-shadow: 0 3px 5px #B0B0B0;
}

.center-of-header{
    width: 67%;
    min-width: 223px;
    max-width: 938px;
    height: 100%;
    min-height:74px;
    margin: 0 auto;
}

/*base & order обеспечивают блоки в ряд, порядок именно такой для вложенности*/
.base{
    overflow:hidden;
    width: 100%;
    height:100%;

}
.order{
    white-space:nowrap;
    display:inline-block;
    width: 100%;
    height:100%;
}

/*логотип*/
.logo{
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 74px;
    min-height:74px;
    float:left;
}
/*блок "Вход"*/
.profile{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 74px;
    min-height:74px;
    float:right;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

/*блок "Выход"*/
.exit{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: 74px;
    min-height:74px;
    float:right;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

/*блок "Личный кабинет"*/
.personal{
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 74px;
    min-height:74px;
    float:right;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

.position{
    padding-top: 28px;
}

/*контент*/
.content{
    width: 745px;
    height: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 18px;
}

.ava-white-block{
    width: 132px;
    height: 132px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: white;
}


.ava{
    margin: 7px 0 0 6px;
    float: none;
}

.line{
    width:80.76%;
    margin: 0 auto;
}

.line hr{
    margin-top:10px;
    color:#c7c7c7;
    margin-bottom:10px;
}


/*для закругления границ изображения*/
.round {
    -moz-border-radius: 124px; /* Firefox */
    -webkit-border-radius: 124px; /* Safari, Chrome */
    -khtml-border-radius: 124px; /* KHTML */
    border-radius: 124px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}
/*для закругления границ рамки*/
.round-border {
    -moz-border-radius: 136px; /* Firefox */
    -webkit-border-radius: 136px; /* Safari, Chrome */
    -khtml-border-radius: 136px; /* KHTML */
    border-radius: 136px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}

.author-name{
    width: 100%;
    min-width: 34.25px;
    max-width: 136px;
    height: 14.96%;
    min-height:23px;
    max-height:38px;
    text-shadow: 0px 2px 5px #b1b1b1;
    margin:0 auto;
    padding-bottom:12px;
    color: #6b6b6b;
    font-size: 0.875em;
    font-family: 'Roboto', sans-serif;
}

.your-info-title-block{
    width: 60%;
    height: 10px;
    float: left;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
    padding-bottom:11px;
    padding-left:18px;
    padding-right:26px;
    color: white;
    font-size: 0.875em;
}

.your-info-title-block-content{
    width: 60%;
    height: 10px;
    float: left;
    font-side: 18px;
    font-family: 'Roboto', sans-serif;
    padding-top: 2px;
    padding-left:20px;
    color: white;
    font-size: 1.125em;
}

.your-info-ico-block{
    width: 17px;
    height: 17px;
    float: right;
    font-family: 'Roboto', sans-serif;
    padding-right:13px;
}

.your-info-name-block{
    width: 100%;
    height: 10px;
    float: left;
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
    margin-bottom: 6px;
    padding-left: 18px;
    color: #6b6b6b;
}



.your-info-line{
    width: 82.71%;
    height: 1px;
    float: left;
    margin-bottom: 6px;
    background-color: #6b6b6b;
    margin: 0 auto;
    margin-left: 13px;
    margin-top: 6px;


}


/*выраваниет текст по горизонтали*/
.text-position{
    text-align: center;
}
/*блок для кнопки*/
.button-comment-block{
    width: 100%;
    min-width: 34.25px;
    max-width: 136px;
    height: 11.2362%;
    min-height:6.2px;
    max-height:26px;
    margin-bottom: 4px;
}

/*кнопки серые*/
.button-comment {
    width: 136px;
    height:26px;
    margin-left: 2px;
    font-size: 0.875em;
    background: #FFFFFF;
    color: #c9c9c9;
    padding: 1px 0 2px 0;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
}

.button-comment:hover {
    width: 136px;
    height:26px;
    margin-left: 2px;
    font-size: 0.875em;
    background:#FFFFFF;
    color: #6b6b6b;
    padding: 1px 0 2px 0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
}

.button-comment:focus {
    width: 136px;
    height:26px;
    margin-left: 2px;
    font-size: 0.875em;
    background:#F5F5F5;
    color: #6b6b6b;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
}



.white-content{
    width: 570px;
    float: right;
    height: 100%;

}
.white-box-for-text{
    margin: 0 auto;
    margin-top: 10px;
    margin-right:12px;
    padding-bottom:10px;
    width: 178px;
    height: auto;
    background-color: white;
    float: left;
        /*для переноса слов*/
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
}
.white-box-for-text:hover{

}
.img{
    width:100%;
    height:100%;
}

.announcement-list{
    width:572px;
}

a{
    text-decoration: none;
    color: #353535;
}

.header-info-block{
    width: 30%;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 11px;
    color: white;
    float: left;
}

.header-info-block img{
    width: 17px;
    height: 17px;
    float: right;
    padding-left: 26px;
    padding-right:13px;
}

/*заголовок*/
.text-title{
    width: 100%
    min-width: 106.75px;
    max-width: 427px;
    height: 7.92%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    padding-left: 32px;

}

.discr-block{
    width: 100%
    min-width: 106.75px;
    max-width: 427px;
    height: 55.79%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    padding-left: 32px;
    padding-right: 27px;
    /*для переноса слов*/
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/*чтоб текст не выходил за границы блока*/
.size-text-rap {
    word-wrap: break-word;
    hyphens: auto;
 }
/*низ для иконок*/
.bottom-block{
    width: 100%
    min-width: 106.75px;
    max-width: 427px;
    height: 8.8167%;
    max-height: 38px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

/*блок для фоток*/
.foto-block{
    width: 100%
    width: 427px;
    height: 23.66%;
    max-height: 102px;
    margin-top: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}
/*блок для 1 фото*/
.one-foto-box{
    width: 178px;
    height: auto;
    margin-bottom:10px;
    float: left;
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    position:relative;
}

.one-foto-box img{
    width: 100%;
    height: auto;
    padding:0 0 0 0;
}
/*для наложения на изображение сверху*/
.one-foto-position{
    position: absolute;
    top: 0px;
    left: 0px;
}
/*ЗАКОНЧИТЬ*/
.text-on-foto {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -48.5882% 0 0 -44.8882%;
    display:block;
    width:100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    color: white;

}



/*правая сторона*/
.r-side{
    width: 21,85714285714286%;
    min-width: 80.5px;
    max-width: 306px;
    height: 197px;
    min-height:197px;
    float:left;
}

.r-inside{
    width: 84.4720%;
    min-width: 68px;
    max-width: 272px;
    min-height:197px;
    float:right;
}




.blue-line{
    width: 100%;
    max-width: 558px;
    height: 45px;
    min-height:7px;
    background-color: #6eb2b3;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    padding-top: 4px;
}

.blue-line-shadow{
    box-shadow: 0 2px 3px #E6E6E6;
}

.position-on-green-line{
    padding-top: 2px;
    padding-left: 10px;
}

.time-to-rent-text{
    width: 80%;
    height: 100%;
    float: left;
}

.time-to-rent-ico{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.white-form{
    width: 100%;
    min-width: 68px;
    max-width: 272px;
    height: 190px;
    min-height:20px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

.input-block{
    width: 100%;
    min-width: 34px;
    max-width: 240px;
    height: 80px;
    min-height:20px;
    float:left;
}
/*блок для input*/
.input-box{
    width: 100%;
    min-width: 34px;
    max-width: 240px;
    height: 41px;
    min-height:41px;
    float:left;
    padding-left: 10px;
}

.input-size{
    width:100%;
    height: 95%;
}



/*кнопка аренды*/
.button-rent {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
}

.button-rent:hover {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
}

.button-rent:focus {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
}

.personal-info{
    width: 100%;
    height: 130px;
    float: left;
    background-color: white;
    font-size: 0.875em;
    border:1px solid;
    border-color:#d4d4d4;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */
    -khtml-border-radius: 3px; /* KHTML */
}
.photo-info{
    width: 162px;
    height: 104px;
    height: 100%;
    float: left;

}
.personal-info p{
    float:left;
}

.blue-line-info{
    width: 100%;
    min-width: 68px;
    height: 31px;
    background-color: #6eb2b3;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    padding-top: 4px;
}

.personal-info img{
    float:right;
}


.photo-and-name{
    margin: 0 auto;
}

.title p{
    color: #009198;
    font-size: 0.875em;

    float:left;
    width:100%;
    margin-left:9px;
}

.description p{
    float:left;
    width:100%;
    margin-left:9px;
    color: #a2a2a2;
    font-size: 0.688em;
    padding-top:10px;
}



/*адаптивность*/
@media screen and (max-width: 500px){
    .center-of-header{
        width: 100%;
        min-width: 223px;
        max-width: 938px;
        height: 148px;
        min-height:148px;
        margin: 0 auto;}

    .profile{
        float:none;
        margin: 0 auto;
    }
    .personal{
        float:none;
        margin: 0 auto;
    }
    .logo{
        float:none;
        margin: 0 auto;
    }
    .base{
        overflow: auto;
    }
    .order{
        white-space:normal;
        display: block;
    }
}