doctype html
head
	title Создание нового объявления
	include depending.jade
body
	.container
		include bottum_for_header.jade
		include header.jade
		include mixin_er.jade
		+err(errors)
		.row
			.col-lg-12
				form(role="form", action="/add_announcement", method="post")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="announcementsName") Название объявления
								sup *
							.col-lg-3
								input#announcementsName.form-control(type="text", name="title", placeholder="Название объявления")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="announcementsDescription") Описание объявления
							.col-lg-6
								input#announcementsDescription.form-control(type="text", name="description", placeholder="Описание объявления")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="PriceForHour") Цена
							.col-lg-1
								input#PriceForHour.form-control(type="text", name="pricePerHour", placeholder="Цена за час")
							.col-lg-1
								час
								sup *
							.col-lg-1
								input#PriceForDay.form-control(type="text", name="pricePerDay", placeholder="Цена за день")
							.col-lg-1
								label.label-position(for="PriceForDay")день
								sup *
							.col-lg-1
								input#PriceForWeek.form-control(type="text", name="pricePerWeek", placeholder="Цена за неделю")
							.col-lg-1
								нед
								sup *
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="pledge") Залог
								sup*
							.col-lg-1
								input#pledge.form-control(type="text", name='pledge', placeholder="Залог")
						.row
							.col-lg-9
							.col-lg-3
								button.btn.btn-color.btn-block.btn-lg(type="submit") Подать объявление