doctype html
head
	title Обявление
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

	script(src='js/jquery-2.0.3.min.js')
	script(src='js/sstu_script.js')
	link(rel="stylesheet", href="resources/style/detail-view-ads/detail-view-ads.css", type="text/css", media="all")
body
	.container
		.header.shadow
			.center-of-header
				.base
					.order
						.logo
							a(href="/")
								img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
						if (!isAuth)
							.profile
								a.green-color(href="/login")
									h4.position Вход
						else
							.personal
								a.green-color(href="/personal_area")
									h4.position Личный кабинет
		.content
			.base
				.order
					.l-side
						.l-inside
							.ava-white-block.round-border
								img.round.image-vertical-position(src="resources/images/avatar.jpg", height="124", width="124")
							.author-name
								p.text-position
									Имя
							.button-comment-block
								input.button-comment(type='button', value='Оставить отзыв', onclick="/")
							.button-comment-block
								input.button-comment(type='button', value='Поделиться')
					.center-side
					.r-side


