extends layout.jade
block title
	title Заявка отправлена
block depending
	link(rel="stylesheet", href="resources/style/message/message-all.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/application_submitted.css", type="text/css", media="all")
block header
	.header
		.center-of-header
			.base
				.order
					.logo
						a(href="/")
							img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
					.exit
						a.header-a-color(href="/logout")
							b
								p
									ВЫХОД
					.to-personal-area
						a.header-a-color(href="/personal_area")
							b
								p
									ЛИЧНЫЙ КАБИНЕТ
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					.base
						.order
							.message-block-text-info
								p
									Ваша заявка отправлена
							.message-block-text-ico
								img(src="resources/style/message/images/application_submitted.png")