extends layout.jade
block title
	title Заявка отклонена
block depending
	link(rel="stylesheet", href="resources/style/message/message-all.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/application_is_rejected.css", type="text/css", media="all")
block header
	.header
		.center-of-header
			.base
				.order
					.logo
						a(href="/")
							img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
					.exit
						a.header-a-color(href="/logout")
							b
								p
									ВЫХОД
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					.base
						.order
							.message-block-text-info
								p
									Вы отклонили заявку
							.message-block-text-ico
								img(src="resources/style/message/images/application_is_rejected.png")