doctype html
head
	title Подтверждение заявки
	include depending.jade
	link(rel="stylesheet", href="resources/message.css", type="text/css", media="all")
body
	.background-gray
		.background-white
			.row
				.col-lg-2
				.col-lg-4
					.logo-position
						a(href="/")
							img(src="resources/images/logo.png", align="left", width="170", height="45")
		.gray-line
		.content
			.centered
				.text-message-position-exept-err
					h1.cancel-message-color.message-text
						Вы отклонили заявку
						img(src="resources/icons/notSuccess.png",align="center", width="36", height="35")