extends layout.jade
block title
	title Взятие в аренду подтверждено
block depending
	link(rel="stylesheet", href="resources/style/message/message-all.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/confirm_get.css", type="text/css", media="all")
block header
	include mixins/mixin_message_header.jade
	+create-header()
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					.base
						.order
							.message-block-text-info
								p
									Взятие в аренду подтверждено
							.message-block-text-ico
								img(src="resources/style/message/images/confirm_deal.png")