doctype html
head
	title Подтверждение заявки
	include depending.jade
	link(rel="stylesheet", href="resources/message.css", type="text/css", media="all")
body
	.background-gray
		.background-white
			.row
				.col-lg-2
				.col-lg-4
					.logo-position
						a(href="/")
							img(src="resources/images/logo.png", align="left", width="170", height="45")
		.gray-line
		.content
			.centered.shadow
				.text-message-position
					h1.cancel-message-color
						| OOPS!
					h1.cancel-message-color
						| Похоже что-то пошло не так.