.row
    .col-lg-1
    .col-lg-4
        a(href="/")
            img(src="resources/images/logo.png", align="left", width="341", height="90")
    .col-lg-6
        label.motto-position(for="name")
            h4.motto-color Сервис по поиску и аренде спортивного оборудования
.line

