.header.shadow
    .center-of-header
        .base
            .order
                .logo
                    a(href="/")
                        img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
                if (!isAuth)
                    .profile
                        a.green-color(href="/login")
                            p.position.set-font-profile-roboto.set-font-size-14 ВХОД
                else
                    .personal
                        a.green-color(href="/personal_area")
                            p.position.set-font-profile-roboto.set-font-size-14 ЛИЧНЫЙ КАБИНЕТ
                    .exit
                        a.green-color(href="/logout")
                            p.position.set-font-profile-roboto.set-font-size-14 ВЫЙТИ