.header.shadow
    .center-of-header
        .base
            .order
                .logo
                    a(href="/")
                        img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
                if (!isAuth)
                    .profile
                        a.green-color(href="/login")
                            h4.position ВХОД
                else
                    .personal
                        a.green-color(href="/personal_area")
                            h4.position ЛИЧНЫЙ КАБИНЕТ
                    .exit
                        a.green-color(href="/logout")
                            h4.position ВЫЙТИ