doctype html
head
	title Главная
	include depending.jade
	link(rel="stylesheet", href="resources/main.css", type="text/css", media="all")


	link(rel="stylesheet", href="resources/header-style.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/all-style.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/main-page/index-style.css", type="text/css", media="all")

body
	.container
		include header.jade
		.pic-first
			.center-block
				h1.white-color.font-page ДАЙ ПОГОНЯТЬ
				h4.white-color Сервис по поиску и аренде спортивного оборудования
				.space-block
				.order
					.sector1
						a(href="#seeAll")
							button.btn.btn-color-white.btn-block.btn-lg(type="button") Смотреть объявления
					.sector2
						a(href="/add")
							button.btn.btn-color.btn-block.btn-lg(type="button") Дать объявление
		.white-block
		.all-info-block
			include mixin_list_all_announcement.jade
			+list(goods)
