extends layout.jade
block title
	title Дай погонять
block scripts
	script(src='resources/pages/main/image-photo-script.js')
	script(type="text/javascript", language="javascript", src="resources/scripts/jquery.dropdownPlain.js")
block depending
	link(rel="stylesheet", href="resources/pages/main/index.css", type="text/css", media="all")
block content
	.my-content
		if(!isAuth)
			.name-service-and-motto-block-base-color
				.name-service-and-motto-block-background-image
					.name-service
						p.set-font-rounds
							Дай погонять
					.service-motto
						p
							Сервис по поиску и аренде спортивного оборудования
					.name-service-and-motto-block-inside
						a(href="/add")
							button.button-add-announcement(type='button')
								b
									p
										ДАТЬ ОБЪЯВЛЕНИЕ
							a(href="/#seeAll")
								button.button-see-announcement(type='button')
									b
										p
											ВСЕ ОБЪЯВЛЕНИЯ
		include mixins/mixin_list_all_announcement.jade
		+list(goods)
