extends layout.jade
block title
	title Дай погонять
block depending
	link(rel="stylesheet", href="resources/style/main/index.css", type="text/css", media="all")
block content
	.my-content
		.name-service-and-motto-block-base-color
			.name-service-and-motto-block-background-image
				.name-service-and-motto-block-inside
					.name-service
						p.set-font-rounds
							Дай погонять
					.service-motto
						p
							Сервис по поиску и аренде спортивного оборудования
					a(href="/add")
						button.button-add-announcement(type='button')
							b
								p
									ДАТЬ ОБЪЯВЛЕНИЕ
						a(href="/#seeAll")
							button.button-see-announcement(type='button')
								b
									p
										ВСЕ ОБЪЯВЛЕНИЯ
		include mixin_list_all_announcement.jade
		+list(goods, landlord)
