doctype html
head
	title Список объявлений
	include depending.jade
body
	.container
		include bottum_for_header.jade
		include header.jade
		include mixin_list_all_announcement.jade
		+list(goods)



