doctype html
head
	title Список объявлений
	include depending.jade
	link(rel="stylesheet", href="resources/main.css", type="text/css", media="all")
body
	.container
		include bottum_for_header.jade
		.transparent-block
		.row
			.col-lg-4
			.col-lg-4
				a(href="/")
					img(src="resources/images/logo.png", align="left", width="341", height="90")
			.col-lg-4
		.row
			.col-lg-3
			.col-lg-6
				h4 Сервис по поиску и аренде спортивного оборудования
			.col-lg-3
		include mixin_list_all_announcement.jade
		+list(goods)



