doctype html
head
	title Авторизация
	include depending.jade
	link(rel="stylesheet", href="resources/registration-authorization.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/all-style.css", type="text/css", media="all")

body
	.background-line
		.row
			.col-lg-2
			.col-lg-3
				label.menu-position(for="name")
					a(href="/")
						p.motto-color.set-font-profile-roboto.set-font-size-14 < НА ГЛАВНУЮ
	.for-error-auth
		include mixin_er.jade
		+err(errors)
	.center-auth
		a(href="/")
			img(src="resources/images/logo.png", align="center", width="170", height="45")
		form(role="form", action="/login", method="post")
			div.form-group
				.row
					input#userEmail.form-control(type="email", name='username',placeholder="E-MAIL")
				.row
					input#passtext.form-control(type="password", name='password',placeholder="ПАРОЛЬ")
				.row.set-font-profile-roboto-reg.set-font-size-15
					button.btn.btn-color.btn-block(type="submit") ВОЙТИ
				.row.set-font-profile-roboto-reg.set-font-size-16
					text.text-right.text-white-color
						Еще не зарегистрированы?
						a(href="/registration")
							Регистрация