extends registration-authorization.jade
block title
	title Авторизация
block depending
	link(rel="stylesheet", href="resources/style/registration-authorization/login.css", type="text/css", media="all")
block content
	.login-form
		.login-form-logo
			a(href="/")
				img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
		include mixin_er.jade
		+err(errors)
		form(role="form", action="/login", method="post")
			input.input-email#userEmail.form-control(type="email", name='username',placeholder="E-MAIL")
			input.input-password#passtext.form-control(type="password", name='password',placeholder="ПАРОЛЬ")
			.forgot-pass-text
				a.registration-a-color(href="/")
					p
						Забыли пароль?
			input.button-registration(type='submit', value='ВОЙТИ')
			.registration-text
				text
					Еще не зарегистрированы?
					a.registration-a-color(href="/registration",style="padding-left: 3px;")
						text
							Регистрация.
