doctype html
head
	title Авторизация
	include depending.jade
body
	.container
		include header.jade
		form(role="form", action="/login", method="post")
			div.form-group
				.row
					.col-lg-4
					.col-lg-4
						input.input-lg#userEmail.form-control(type="email", name="username", placeholder="Ваш email")
			div.form-group
				.row
					.col-lg-4
					.col-lg-4.col-centered
						input.input-lg#passtext.form-control(type="password", name="password", placeholder="Ваш пароль")
			.row
				.col-lg-4
				.col-lg-4
					button.btn.btn-color.btn-block.btn-lg(type="submit") Войти
			.row
				.col-lg-4
				.col-lg-4
					p.text-center Еще не зарегистрированы?
						a(href="/registration")
							Регистрация
				.col-lg-4
