extends layout.jade
block title
	title Подтвердить окончание аренды
block depending
	link(rel="stylesheet", href="resources/style/message/message-all.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/message_when_rent_is_end.css", type="text/css", media="all")
block header
	include mixin_message_header.jade
	+create-header()
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					p
						Мы надеемся, наш сервис был полезен для Вас.
						br
						Срок аренды закончен.
					a(href="/")
						input.button-end(type='button', value='Все хорошо')
					a(href="/")
					input.button-end(type='button', value='Пожаловаться')