extends layout.jade
block title
	title Подтвердить окончание аренды
block depending
	link(rel="stylesheet", href="resources/style/message-refactor/message-refactor.css", type="text/css", media="all")
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					p
						Мы надеемся, наш сервис был полезен для Вас.
						br
						Срок аренды закончен.
					a(href="/")
						input.button-delete(type='button', value='Все хорошо')
					a(href="/")
					input.button-delete(type='button', value='Пожаловаться')