doctype html
head
	title Окончание срока аренды
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	link(rel="stylesheet", href="resources/all-style.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/header-style.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/mes-style.css", type="text/css", media="all")
body
	.container
		include header.jade
		.content
			.mes-centered.mes-shadow
				p.set-font-profile-roboto.set-font-size-24.set-padding-to-p.gray-color
					Мы надеямся наш сервис был полезен для Вас.
					br
					Срок аренды закончен.
				a.set-padding-a-left(href="/update?announcement_id=#{Goods.id}")
					input.button-delete(type='button', value='Все хорошо')
				a.set-padding-a-right(href="/update?announcement_id=#{Goods.id}")
					input.button-delete(type='button', value='Пожаловаться')

