mixin list(goods)
	.order
		each Goods in goods
			- announcement_id = Goods.id;
			a(href="/see_announcement?announcement_id=#{announcement_id}")
				.white-box-for-text.shadow
					.one-foto-box
						img(src="http://muted.muted.netdna-cdn.com/wp-content/uploads/2013/11/Shinola-x-Filson-Bixby-Bicycle-1-1024x682.jpg")
					.title
						b
							p=Goods.title
					.description
						p=Goods.description