mixin list(goods)
	.order
		each Goods in goods
			- announcement_id = Goods.id;
			a(href="/see_announcement?announcement_id=#{announcement_id}")
				.white-box-for-text.shadow
					.one-foto-box
						img(src="http://zakrasnodar.org/wp-content/uploads/2014/03/Pasport.jpg")
					.title
						b
							p=Goods.title
					.description
						p=Goods.description