mixin list(goods)
	.order
		each Goods in goods
			- announcement_id = Goods.id;
			a(href="/see_announcement?announcement_id=#{announcement_id}")
				.white-box-for-text.shadow
					.one-foto-box
						img(src="https://files.slack.com/files-pri/T075Q12TZ-F08PA1Z19/tumblr_nkn7ujh8yj1r9wyj4o1_1280.jpg")
					.title
						b
							p=Goods.title
					.description
						p=Goods.description