mixin list(goods)
	.list-content
		.list-content-inside
			.list-block-separate-line
			.list-block
				.base
					.order
						.info-block
							.announcement-title
								.base
									.order
										.announcement-title-text
											b
												p
													Заголовок
										.ready-to-rent-ico
											img(src="resources/style/main/image/ready-ico.png", width="22", height="22")
										.ready-to-rent-text
											p
												К аренде готов!
							.announcement-discription
								p
									текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
							.price-block
								.base
									.order
										.price-block-hour
											text(style="padding-right: 4px;")
												Час:
											b
												text(style="padding-right: 4px;")
													ацкц
										.price-block-day
											text(style="padding-right: 4px;")
												Сутки:
											b
												text(style="padding-right: 4px;")
													цкуц
										.price-block-week
											text(style="padding-right: 4px;")
												Неделя:
											b
												text(style="padding-right: 4px;")
													цукц
						.photo-block
							.photo-inventory
								img(src="https://placekitten.com/g/147/147", width="147", height="147")
			.avatar-border
				.avatar-photo
					img(src="https://placekitten.com/g/52/52", width="52", height="52")
			.list-block-separate-end-line