doctype html
head
	title Регистрация
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	link(rel="stylesheet", href="resources/vendor/stylesheets/bootstrap.min.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style.css", type="text/css", media="all")
body
	.container
		.row
			.col-lg-6
				a(href="/")
					img(src="resources/images/logo.png", align="left", width="512", height="134")
			.col-lg-6
				label.motto-position(for="name")
					h4.motto-color Сервис по поиску и аренде спортивного оборудования
		include mixin_personal_area.jade
		+info(goods, user)