extends layout.jade
block title
	title Дай погонять
block depending
	link(rel="stylesheet", href="resources/style/personal-area/personal-area.css", type="text/css", media="all")
block header
	.header.shadow
		.center-of-header
			.base
				.order
					.logo
						a(href="/")
							img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
					.exit
						a.green-color(href="/logout")
							p.position ВЫЙТИ
block content
	.my-content
		.content-inside
			.base
				.order
					.photo-info
						.ava-white-block.round-border.shadow
							img.round.ava(src=user.imageUrl, height="120", width="120")
						.personal-info
							.blue-line-info.blue-line-shadow
								.base
									.order
										.your-info-title-block
											b
												p
													Ваши данные
										.your-info-ico-block
											a(href="/update_profile")
												img(src="resources/style/personal-area/images/info-icon.png", width="17", height="17")
							.your-info-name-block
								p=user.firstName
							.your-info-line
							.your-info-name-block
								p=user.phone
							.your-info-line
					.white-content
						.blue-line.blue-line-shadow
							.header-info-block
								.your-info-title-block-content
									p
										b
											Ваши объявления
						include mixins/mixin_users_announcement_list.jade
						.announcement-list
							+list(goods)