extends layout.jade
block title
	title Дай погонять
block scripts
	script(src='resources/style/personal-area/image-photo-script.js')
block depending
	link(rel="stylesheet", href="resources/style/personal-area/personal-area.css", type="text/css", media="all")
block header
	.header
		.center-of-header
			.base
				.order
					.logo
						a(href="/")
							img(src="resources/images/logo.png", width="170", height="45", style="margin-top: 12px")
					.exit
						a.header-a-color(href="/logout")
							b
								p
									ВЫХОД
					.to-give-announcement
						a.header-a-color(href="/add")
							b
								p
									ДАТЬ ОБЪЯВЛЕНИЕ
block content
	.my-content
		.my-content-inside
			.base
				.order
					.user-info
						.ava-image-position
							img.round(src=user.imageUrl, height="120", width="120")
						.user-info-block
							.user-info-block-title
								.base
									.order
										.user-info-block-title-text
											b
												p
													Ваши данные
										.user-info-block-ico
											a(href="/update_profile")
												img(src="resources/style/personal-area/images/info-icon.png", width="17", height="17")
							.user-name
								p.size-text-norap=user.firstName
							if user.phone!=null
								.user-info-line
								.user-phone
									p.size-text-norap=user.phone
								.user-info-line
								.empty-line
							else
								.user-info-line
								.empty-line
					include mixins/mixin_users_announcement_list.jade
					.user-announcement
						.user-announcement-title
							.user-announcement-title-text
								b
									p
										Ваши объявления
						.history
							a.a-history(href="/history")
								p
									История
						+list(goods)