doctype html
head
	title Регистрация
	include depending.jade
	link(rel="stylesheet", href="resources/registration-authorization.css", type="text/css", media="all")
body
	.background-line
		.row
			.col-lg-2
			.col-lg-3
				label.menu-position(for="name")
					a(href="/")
						h4.motto-color < НА ГЛАВНУЮ
	.for-error
		include mixin_er.jade
		+err(errors)
	.center
		a(href="/")
			img(src="resources/images/logo.png", align="center", width="170", height="45")
		form(role="form", action="/registration", method="post")
			div.form-group
				.row
					input#name.form-control(type="text", name='firstName', placeholder="ИМЯ")
				.row
					input#userEmail.form-control(type="email", name='eMail',placeholder="E-MAIL")
				.row
					.order
						.sector1
							input#passtext.form-control(type="password", name='password',placeholder="ПАРОЛЬ")
						.sector2
							input#passSecond.form-control(type="password", name='passSecond',placeholder="ПАРОЛЬ ЕЩЕ РАЗ")
				.row
					button.btn.btn-color.btn-block(type="submit") РЕГИСТРАЦИЯ



