doctype html
head
	title Регистрация
	include depending.jade
body
	.container
		.row
			.col-ms-12
		include header.jade
		.row
			.col-lg-12
				form(role="form", action="/registration", method="post")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="name") Имя
								sup  *
							.col-lg-4
								input#name.form-control(type="text", name='firstName',placeholder="Ваше имя")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="userEmail") Email
								sup  *
							.col-lg-4
								input#userEmail.form-control(type="email", name='eMail', placeholder="Ваш email")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="passtext") Пароль
								sup  *
							.col-lg-4
								input#passtext.form-control(type="password", name='password', placeholder="Ваш пароль")
					div.form-group
						.row
							.col-lg-3
								label.label-position(for="passSecond") Подтверждение пароля
								sup  *
							.col-lg-4
								input#passSecond.form-control(type="password", name='passSecond', placeholder="Подтверждение пароля")
					.row
						.col-lg-5
						.col-lg-3
							button.btn.btn-color.btn-block(type="submit") Зарегистрироваться