doctype html
head
	title Объявление
	include depending.jade
body
	.container
		include bottum_for_header.jade
		include header.jade
		.row
			.col-lg-3
				a(href="/")
					button.btn.btn-color.btn-block.btn-lg(type="button") Все объявления
		include mixin_announcement.jade
		+announcement(Goods,isAuthor)
