doctype html
head
	title Объявление
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	link(rel="stylesheet", href="resources/vendor/stylesheets/bootstrap.min.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style.css", type="text/css", media="all")
body
	.container
		.row
			.col-lg-6
				a(href="/")
					img(src="resources/images/logo.png", align="left", width="512", height="134")
			.col-lg-6
				label.motto-position(for="name")
					h4.motto-color Сервис по поиску и аренде спортивного оборудования
		.row
			.col-lg-3
				a(href="/")
					button.btn.btn-color.btn-block.btn-lg(type="button") Все объявления
		include mixin_announcement.jade
		+announcement(Goods)
