/*when rent is end*/

.my-content{
    width: 100%;
    height:100%;
    background-image: url("images/pattern-gr.jpg");
}

.message-block{
    width: 560px;
    height: 416px;
    margin: 0 auto;
    padding-top: 60px;
}


.message-block-inside{
    width: 100%;
    height: 100%;
    background-color: white;
}

.message-block-text{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    padding-top: 50px;
    text-align: center;
    font-size: 24px;
    color: #b6b6b6;
}


/*кнопка скрыть/удалить*/
.button-delete, .button-delete:focus, .button-delete:hover {
    width: 125px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 16px;
    border-radius: 15px;
    -moz-border-radius: 15px; /* Firefox */
    -webkit-border-radius: 15px; /* Safari, Chrome */
    -khtml-border-radius: 15px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-width: bold;
    border: none;
    margin-right: 10px;
    margin-top: 20px;
}

.button-delete:hover {
    color: #353535;
    cursor: pointer;
}

.button-delete:focus {
    color: #353535;
    cursor: pointer;
}
