/*для всего*/
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz--box-sizing: border-box;
    box-sizing: border-box;
}
/*убирает рамку пунктиром вокруг кнопок*/
button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none;
	}
/*импортируем шрифты*/
@font-face {
  font-family: RobotoMedium;
  src: url('fonts/RobotoMedium/RobotoMedium.ttf')  format("truetype");
  font-family: RobotoBold;
  src: url('fonts/RobotoBold/RobotoBold.ttf')  format("truetype");
}


/*всегда писать эти 2 блока!!!*/
body{
    font: 100/1.5em;
    height: 100%;
}
p, text{
    padding-right: 2px;
}

text{
    padding-left: 2px;
}

.set-font-title{
    font-family: RobotoBold, 'RobotoBold';
    font-size: 1.125em;
}

html{
height: 100%;
}

a{
text-decoration: none;
}

a:hover{
color: #353535;
}

.green-color{
    color: #019199;
}

.white-color{
    color: white;
}

.text-center{
    text-align: center;
    padding-top: 6px;
}
/*базовый контейнер*/
.container{
    width: 100%;
    min-width: 350px;
    max-width: 1400px;
    min-height:100%;
    background-image: url('images/bk-an.jpg');
    background-repeat: repeat;
    background-position: right bottom;
}

/*все от header*/
.header{
    width: 100%;
    min-width: 350px;
    max-width: 1400px;
    height: 5.2857%;
    min-height:74px;
    background-color: white;
}

.shadow{
    box-shadow: 0 3px 5px #B0B0B0;
}

.center-of-header{
    width: 67%;
    min-width: 223px;
    max-width: 938px;
    height: 100%;
    min-height:74px;
    margin: 0 auto;
}

/*base & order обеспечивают блоки в ряд, порядок именно такой для вложенности*/
.base{
    overflow:hidden;
    width: 100%;
    height:100%;

}
.order{
    white-space:nowrap;
    display:inline-block;
    width: 100%;
    height:100%;
}

/*логотип*/
.logo{
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 74px;
    min-height:74px;
    float:left;
}
/*блок "Вход"*/
.profile{
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    height: 74px;
    min-height:74px;
    float:right;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
}

/*блок "Выход"*/
.exit{
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    height: 74px;
    min-height:74px;
    float:right;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
}

/*блок "Личный кабинет"*/
.personal{
    width: 170px;
    min-width: 170px;
    max-width: 170px;
    height: 74px;
    min-height:74px;
    float:right;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
}

.position{
    padding-top: 28px;
}

/*контент*/
.content{
    width: 67%;
    min-width: 232.5px;
    max-width: 938px;
    height: 100%;
    min-height:100%;
    margin: 0 auto;
    padding-top: 18px;
}
/*левая сторона контента*/
.l-side{
    width: 16.989224%;
    min-width: 39.5px;
    max-width: 158px;
    height: 256px;
    min-height:64px;
    float:left;
}

/*содержание левой стороны*/
.l-inside{
    width: 86.7088%;
    min-width: 34.25px;
    max-width: 136px;
    height: 99.21%;
    min-height:63.5px;
    float:left;
    font-size: 0.875em;
}

.ava-white-block{
    width: 100%;
    min-width: 34.25px;
    max-width: 136px;
    height: 53.54%;
    min-height:34.25;
    max-height:136px;
    position: relative;
    background-color: white;
    font-family: RobotoMedium, 'RobotoMedium';
}
/*выравнивает изображение по центру margin подбираются вручную родителю relative*/
.image-vertical-position{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 91.1764%;
    width: 91.1764%;
    margin: -48.5882% 0 0 -44.8882%;
}

/*для закругления границ изображения*/
.round {
    -moz-border-radius: 124px; /* Firefox */
    -webkit-border-radius: 124px; /* Safari, Chrome */
    -khtml-border-radius: 124px; /* KHTML */
    border-radius: 124px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}
/*для закругления границ рамки*/
.round-border {
    -moz-border-radius: 136px; /* Firefox */
    -webkit-border-radius: 136px; /* Safari, Chrome */
    -khtml-border-radius: 136px; /* KHTML */
    border-radius: 136px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}

.author-name{
    width: 100%;
    min-width: 34.25px;
    max-width: 136px;
    height: 14.96%;
    min-height:23px;
    max-height:38px;
    color: #6b6b6b;
    font-size: 0.875em;
    font-family: RobotoMedium, 'RobotoMedium';
}

/*выраваниет текст по горизонтали*/
.text-position{
    text-align: center;
}
/*блок для кнопки*/
.button-comment-block{
    width: 100%;
    min-width: 34.25px;
    max-width: 136px;
    height: 11.2362%;
    min-height:6.2px;
    max-height:26px;
    margin-bottom: 4px;
}

/*кнопки серые*/
.button-comment {
    width: 136px;
    height:26px;
    margin-left: 2px;
    font-size: 0.875em;
    background: #FFFFFF;
    color: #c9c9c9;
    padding: 1px 0 2px 0;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoMedium, 'RobotoMedium';
}

.button-comment:hover {
    width: 136px;
    height:26px;
    margin-left: 2px;
    font-size: 0.875em;
    background:#FFFFFF;
    color: #6b6b6b;
    padding: 1px 0 2px 0;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoMedium, 'RobotoMedium';
}

.button-comment:focus {
    width: 136px;
    height:26px;
    margin-left: 2px;
    font-size: 0.875em;
    background:#F5F5F5;
    color: #6b6b6b;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-family: RobotoMedium, 'RobotoMedium';
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
}


/*центральный сигмент*/
.center-side{
    width: 45.9139%;
    min-width: 106.75px;
    max-width: 427px;
    height: 431px;
    min-height:431px;
    float: left;
}

.white-content{
    width: 100%;
    min-width: 106.75px;
    max-width: 427px;
    height: 328px;
    min-height:328px;
    background-color: white;
}

.header-info-block{
    width: 81%;
    min-width: 77.75px;
    max-width: 312px;
    height: 100%;
    margin: 0 auto;
    font-family: RobotoBold, 'RobotoBold';
    font-size: 0.875em;
    color: white;
}
/*час*/
.text-block-1{
    width: 66px;
    height: 100%;
    float: left;
}
/*сутки*/
.text-block-2{
    width: 141px;
    height: 151%;
    float: left;
}
/*неделя*/
.text-block-3{
    width: 96px;
    height: 100%;
    float: right;
}
/*заголовок*/
.text-title{
    width: 100%
    min-width: 106.75px;
    max-width: 427px;
    height: 7.92%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: RobotoBold, 'RobotoBold';
    font-size: 1.125em;
    padding-left: 32px;

}

.discr-block{
    width: 100%
    min-width: 106.75px;
    max-width: 427px;
    height: 55.79%;
    margin: 0 auto;
    margin-top: 20px;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
    padding-left: 32px;
    padding-right: 27px;
    /*для переноса слов*/
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/*чтоб текст не выходил за границы блока*/
.size-text-rap {
    word-wrap: break-word;
    hyphens: auto;
 }
/*низ для иконок*/
.bottom-block{
    width: 100%
    min-width: 106.75px;
    max-width: 427px;
    height: 8.8167%;
    max-height: 38px;
    margin-top: 20px;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
}

/*блок для фоток*/
.foto-block{
    width: 100%
    width: 427px;
    height: 23.66%;
    max-height: 102px;
    margin-top: 4px;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
}
/*блок для 1 фото*/
.one-foto-box{
    width: 131px;
    height: 100px;
    padding-right: 2px;
    padding-left: 2px;
    float: left;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
    position:relative;
}
/*для наложения на изображение сверху*/
.one-foto-position{
    position: absolute;
    top: 0px;
    left: 0px;
}
/*ЗАКОНЧИТЬ*/
.text-on-foto {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -48.5882% 0 0 -44.8882%;
    display:block;
    width:100%;
    font-family: RobotoBold, 'RobotoBold';
    font-size: 0.875em;
    color: white;

}
/*блок для кнопок скрыть редактирование удаление */
.update-delete-block{
    width: 100%
    width: 427px;
    height: 23.66%;
    max-height: 102px;
    margin-top: 4px;
    font-family: RobotoMedium, 'RobotoMedium';
    font-size: 0.875em;
}


/*кнопка скрыть/удалить*/
.button-delete {
    width: 112px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

.button-delete:hover {
    width: 112px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

.button-delete:focus {
    width: 112px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

/*кнопка редактировать*/
.button-update {
    width: 160px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

.button-update:hover {
    width: 160px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

.button-update:focus {
    width: 160px;
    height:58px;
    margin-top: 4px;
    margin-left: 1px;
    margin-right: 1px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}


/*правая сторона*/
.r-side{
    width: 34.623655%;
    min-width: 80.5px;
    max-width: 322px;
    height: 197px;
    min-height:197px;
    float:left;
}

.r-inside{
    width: 84.4720%;
    min-width: 68px;
    max-width: 272px;
    min-height:197px;
    float:right;
}

.green-line{
    width: 100%;
    min-width: 68px;
    height: 30px;
    min-height:7px;
    background-color: #019199;
    font-family: RobotoBold, 'RobotoBold';
    font-size: 0.875em;
    padding-top: 4px;
}

.green-line-shadow{
    box-shadow: 0 2px 3px #E6E6E6;
}

.position-on-green-line{
    padding-top: 2px;
    padding-left: 10px;
}

.time-to-rent-text{
    width: 80%;
    height: 100%;
    float: left;
}

.time-to-rent-ico{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.white-form{
    width: 100%;
    min-width: 68px;
    max-width: 272px;
    height: 190px;
    min-height:20px;
    background-color: white;
    font-family: RobotoBold, 'RobotoBold';
    font-size: 0.875em;
}

.input-block{
    width: 100%;
    min-width: 34px;
    max-width: 240px;
    height: 80px;
    min-height:20px;
    float:left;
}
/*блок для input*/
.input-box{
    width: 100%;
    min-width: 34px;
    max-width: 240px;
    height: 41px;
    min-height:41px;
    float:left;
    padding-left: 10px;
}

.input-size{
    width:100%;
    height: 95%;
}



/*кнопка аренды*/
.button-rent {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

.button-rent:hover {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}

.button-rent:focus {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: RobotoBold, 'RobotoBold';
}



/*адаптивность*/
@media screen and (max-width: 500px){
    .center-of-header{
        width: 100%;
        min-width: 223px;
        max-width: 938px;
        height: 148px;
        min-height:148px;
        margin: 0 auto;}

    .profile{
        float:none;
        margin: 0 auto;
    }
    .personal{
        float:none;
        margin: 0 auto;
    }
    .logo{
        float:none;
        margin: 0 auto;
    }
    .base{
        overflow: auto;
    }
    .order{
    white-space:normal;
    display: block;
    }
}