.b-error{
    width: 98%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 1%;
    margin-right: 1%;
    border: 1px solid #eed256;
    background-color: #fffdda;
    color: #77787a;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    font-size: 0.750em;
    font-family: 'Roboto', sans-serif;
}

.b-error p{

    margin-bottom: 10px;
    text-alight: center;
}

.b-error li {
    list-style-type: none; /* Убираем маркеры */
   }