.message-block-inside{
 position: relative;
}


.message-block-text{
    color: #5dc8cd;
    width: 306px;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.message-block-text-info{
    width: 270px;
    float: left;
    padding-right: 4px;
    padding-top: 6px;
}

.message-block-text-ico{
    width: 36px;
    height:35px;
    float: left;
}
