
.green-color{
    color: #019199;
}

.white-color{
    color: white;
}

.text-center{
    text-align: center;
    padding-top: 6px;
}

.shadow{
    box-shadow: 0 3px 5px #B0B0B0;
}

.position{
    padding-top: 28px;
}

/*блок для кнопок скрыть редактирование удаление */
.update-block{
    width: 100%
    width: 427px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
}

.update-block-inside{
    width: 160px;
    margin: 0 auto;
}

/*кнопка редактировать*/
.button-update, .button-update:hover, .button-update:focus {
    width: 160px;
    height:58px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    font-family: 'Roboto', sans-serif;
    border: none;
    align: center;
}

.button-update:hover {
    color: #353535;
    cursor: pointer;
}

.button-update:focus {
    color: #353535;
    cursor: pointer;
}


/*правая сторона*/
.r-side{
    width: 250px;
    height: 197px;
    float:left;
}

.r-inside{
    width: 250px;
    height:197px;
    float:right;
}

.green-line{
    width: 100%;
    min-width: 68px;
    height: 30px;
    min-height:7px;
    background-color: #019199;
      font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    padding-top: 4px;
}

.green-line-shadow{
    box-shadow: 0 2px 3px #E6E6E6;
}

.position-on-green-line{
    padding-top: 2px;
    padding-left: 10px;
}

.time-to-rent-text{
    width: 80%;
    height: 100%;
    float: left;
}

.time-to-rent-ico{
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
}

.white-form{
    width: 100%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    overflow:auto;
}

.input-block{
    width: 100%;
    min-width: 34px;
    max-width: 240px;
    height: 80px;
    min-height:20px;
    float:left;
}
/*блок для input*/
.input-box{
    width: 100%;
    min-width: 34px;
    max-width: 240px;
    height: 41px;
    min-height:41px;
    float:left;
    padding-left: 10px;
    color: #6b6b6b;
}

.input-size{
    width:100%;
    height: 95%;
}



/*кнопка аренды*/
.button-rent {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
      font-family: 'Roboto', sans-serif;
      border: none;
}

.button-rent:hover {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
      font-family: 'Roboto', sans-serif;
      border: none;
}

.button-rent:focus {
    width: 250px;
    height:58px;
    margin-top: 10px;
    background: #6ccdd3;
    color: #353535;
    padding: 1px 0 2px 0;
    cursor: pointer;
    font-size: 1.125em;
    border-radius: 10px;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
      font-family: 'Roboto', sans-serif;
      border: none;
}



/*адаптивность*/
@media screen and (max-width: 500px){
    .center-of-header{
        width: 100%;
        min-width: 223px;
        max-width: 938px;
        height: 148px;
        min-height:148px;
        margin: 0 auto;}

    .profile{
        float:none;
        margin: 0 auto;
    }
    .personal{
        float:none;
        margin: 0 auto;
    }
    .logo{
        float:none;
        margin: 0 auto;
    }
    .base{
        overflow: auto;
    }
    .order{
    white-space:normal;
    display: block;
    }
}



/*cтатусы*/

.status-block{
    width: 100%
    height: 22px;
    padding-bottom: 8px;
    padding-top: 10px;
}

.status-ico{
    width: 22px;
    height: 22px;
    float: right;
}

.status-text{
    width: 118px;
    height: 22px;
    font-size: 14px;
    color: #707070;
    padding-top: 4px;
    padding-left: 7px;
    float: right;
}

