.b-ad-details{
    float: left;

    width: 463px;
    margin-right: 33px;
}


.b-ad-details__content{
    width: 455px;
    min-height: 155px;
    padding-bottom: 13px;
    border-style: solid;
    border-color: #5cc9cc;
    border-width: 3px;
    background-color: white;
    margin-bottom: 13px;
}


.b-ad-details__product-title{
    font-size: 24px;

    overflow: hidden;

    width: 100%;
    margin-top: 19px;
    margin-bottom: 17px;
    padding-right: 36px;
    padding-left: 36px;

    color: #278b8f;
}

.b-ad-details__product-title p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}


.b-ad-details__product-title p{
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;
}


.b-ad-details__product-description{
    font-size: 16px;

    width: 100%;
    min-height: 160px;
    padding-right: 36px;
    padding-left: 36px;
    padding-bottom: 10px;
    color: #6b6b6b;
}


.b-ad-details__product-description p{
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;
}

.b-photo-set{
    width: 463px;
    height: 149.7px;
    margin-bottom: 20px;
}

.b-photo-set__photo{
    position: relative;

    float: left;

    width: 143px;
    height: 149.7px;
    margin-right: 11px;
}


.b-photo-set__photo img{
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 143px;
    max-height: 149.7px;

    transform: translate(-50%, -50%);
}


.b-photo-set__ico img{
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 42px;
    max-height: 42px;

    transform: translate(-50%, -50%);
}
