.b-button--default,
.b-button--default:focus,
.b-button--default:hover{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    padding: 1px 0 2px 0;

    border: none;
    -webkit-border-radius: 2px; /* Safari, Chrome */
       -moz-border-radius: 2px; /* Firefox */
            border-radius: 2px;
    box-shadow: 0 3px 3px #d4cfcf;

    -khtml-border-radius: 2px; /* KHTML */
}


.b-button--default:focus{
    cursor: pointer;
}


.b-button--default:hover{
    cursor: pointer;
}

/*#blue button*/
.b-button--blue,
.b-button--blue:focus,
.b-button--blue:hover{
    height: 60px;

    background: #5cc9cc;

    align: center;
}

.b-button--blue{
    color: white;
}

.b-button--blue:hover,
.b-button--green:hover{
    color: #949494;
}

.b-button--blue:focus,
.b-button--green:focus{
    color: #949494;
}

.b-button--authentication,
.b-button--authentication:hover,
.b-button--authentication:focus{
    font-size: 17px;

    height: 42px;

    box-shadow: 0 1px 2px #626262;
}


/*#green button*/
.b-button--green,
.b-button--green:focus,
.b-button--green:hover{
    font-size: 20px;
    font-weight: bold;

    height: 60px;

    background: #278b8f;

    align: center;
}

.b-button--green{
    color: white;
}

.b-button--update-profile,
.b-button--update-profile:hover,
.b-button--update-profile:focus{
    font-size: 9px;

    height: 25px;
}

.b-button--half-size,
.b-button--half-size:hover,
.b-button--half-size:focus{
    width: 48%;
    margin-right: 2%;
}


.b-button--update,
.b-button--update:hover,
.b-button--update:focus{
    font-size: 14px;

    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    -webkit-border-radius: 200px; /* Safari, Chrome */
       -moz-border-radius: 200px; /* Firefox */
            border-radius: 200px;
    background-color: #5cc9cc;
    box-shadow: none;

    -khtml-border-radius: 200px; /* KHTML */
}


.b-button--update{
    color: white;
}


.b-button--update:hover{
    color: #949494;
}


.b-button--update:focus{
    color: #949494;
}
