.b-button__default,
.b-button__default:focus,
.b-button__default:hover{
    font-family: 'Roboto', sans-serif;
    font-size: .875em;

    width: 162px;
    height: 40px;
    padding: 1px 0 2px 0;

    border: none;
    -webkit-border-radius: 5px; /* Safari, Chrome */
     -khtml-border-radius: 5px; /* KHTML */
       -moz-border-radius: 5px; /* Firefox */
            border-radius: 5px;

    box-shadow: 0 3px 3px #d4cfcf;
}


.b-button__default:focus{
    cursor: pointer;
}


.b-button__default:hover{
    cursor: pointer;
}


/*желтая кнопка*/
.b-button__yellow,
.b-button__yellow:focus,
.b-button__yellow:hover{
    float: right;

    color: white;
    background: #edd04e;
}


.b-button__yellow:hover{
    color: #949494;
}


.b-button__yellow:focus{
    color: #949494;
}


