.b-container,
.b-reg-auth-container,
.b-index-container{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-width: 320px;
    min-height: 100%;
}


.b-reg-auth-container{
    background-image: url('../images/reg-bk.png');
    background-repeat: repeat;
    background-size: contain;
}


.b-container{
    background-image: url('../images/layout/pattern-gr.jpg');
}
