.b-error{
    font-family: 'Roboto', sans-serif;
    font-size: 0.750em;
    min-height: 50px;
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;

    color: #626262;
    border: 1px solid red;
    background-color: white;
    display: none;
}

.b-error p{
    margin-bottom: 10px;
}

.b-error li{
    list-style-type: none; /* Убираем маркеры */
}

