.b-form-book-product{
    float: left;

    width: 273px;
}

.b-form-book-product__form{
    min-height: 210px;
    margin-bottom: 12px;

    border-width: 3px;
    border-style: solid;
    border-color: #278b8f;
    background-color: white;
}


.b-form-book-product__content{
    width: 242px;
    margin: 0 auto;
}

.b-form-book-product__input-title{
    margin-bottom: 10px;

    color: #278b8f;
}


@media(max-width: 877px){
    .b-form-book-product{
        float: none;

        width: 455px;
        margin: 0 auto;
        padding-top: 15px;
    }

    .b-form-book-product__content{
        width: 424px;
    }
}

@media(max-width: 467px){
    .b-form-book-product{
        width: 304px;
    }

    .b-form-book-product__content{
        width: 273px;
        font-size: 15.24px;
    }
}
