.b-update-profile{
    width: 441px;
    margin: 0 auto;
    margin-top: 27px;
}


.b-update-profile-form{
    width: 100%;
    margin-bottom: 15px;

    border-width: 3px;
    border-style: solid;
    border-color: #5cc9cc;
    background-color: white;
}


.b-update-profile-form__content{
    width: 409px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.b-update-profile__button{
    width: 441px;
}

.b-update-profile__user-avatar{
    width: 100%;
}

.b-update-profile__user-photo{
    float: left;

    width: 43px;
    height: 43px;
    margin-right: 11px;
}

.b-update-profile__url{
    float: left;

    width: 354px;
}

.b-update-profile__user-photo img{
    max-width: 43px;
    max-height: 43px;

    border-width: 1px;
    border-style: solid;
    border-color: #626262;
    -webkit-border-radius: 43px; /* Safari, Chrome */
       -moz-border-radius: 43px; /* Firefox */
            border-radius: 43px; /* CSS3 */

    -khtml-border-radius: 43px; /* KHTML */
    behavior: url(border-radius.htc); /*IE */
}

@media(max-width: 415px){
    .b-update-profile{
        width: 320px;
    }
    .b-update-profile-form__content{
        width: 310px;
    }

    .b-update-profile__button{
        width: 320px;
    }
    .b-update-profile__url{
        width: 255px;
    }
}
