.b-form-authentication{
    position: absolute;
    top: 45%;
    left: 50%;

    width: 270px;

    transform: translate(-50%, -50%);
}

.b-form-authentication__forgot-pass{
    font-size: 14px;

    width: 100%;
    margin-top: -3px;
    margin-bottom: 10px;

    text-align: right;

    color: #5dc8cd;
}

.b-form-authentication__to-registration{
    font-size: 14px;

    width: 100%;
    padding-right: -10px;
    padding-left: -10px;

    text-align: center;

    color: white;
}


.registration-a-color{
    color: #5dc8cd;
}


.registration-a-color:visited{
    color: #5dc8cd;
}


.registration-a-color:hover,
.registration-a-color:focus,
.registration-a-color:active{
    color: #949494;
}
