.b-form-product-book{
    float: left;

    width: 250px;
}


.b-form-product-book__backing{
    font-size: .875em;

    height: 200px;

    background-color: white;
}


.b-form-product-book__title{
    float: left;

    width: 150px;
    margin-right: 5px;
    margin-left: 15px;

    text-align: left;
}


.b-form-product-book__ico{
    float: right;

    width: 25px;
    height: 25px;
    margin-top: -2px;
    margin-right: 15px;
}


.b-form-product-book-input{
    width: 100%;
    margin-bottom: 20px;
}


/*блок для input*/
.b-form-product-book-input__title{
    width: 100%;
    margin-top: -18px;
    margin-bottom: 10px;
    padding-left: 10px;

    color: #019199;
}


.b-form-product-book-input__input{
    width: 230px;
    margin-right: 10px;
    margin-left: 10px;
}


.b-form-product-book__button{
    width: 100%;
    margin-top: 10px;
}
