/*все от header*/
.b-header{
    position: relative;

    width: 100%;
    min-width: 320px;
    margin: 0 auto;

    background-color: white;
}


.b-header__header{
    width: 100%;
    height: 74px;

    box-shadow: 0 3px 30px #d4cfcf;
}


.b-header__content{
    width: 67%;
    max-width: 938px;
    height: 100%;
    min-height: 74px;
    margin: 0 auto;
}


.b-header__login,
.b-header__to-personal-area,
.b-header__exit,
.b-header__give-announcement{
    font-size: .875em;

    float: right;

    width: auto;
    height: 74px;
    padding-top: 27px;
}


.b-header__login{
    width: 60px;
}


.b-header__to-personal-area{
    width: 170px;
}


.b-header__exit{
    width: 80px;
}


.b-header__give-announcement{
    width: 170px;
}


.b-header__dropdown-menu-ico{
    display: none;
    float: right;

    width: 30px;
}


.b-header__dropdown-menu-ico:hover,
.b-header__dropdown-menu-ico:focus{
    cursor: pointer;
}


.b-header__dropdown-menu{
    display: none;

    width: 100%;
}


.b-header__dropdown-menu ul{
    display: none;
    overflow: hidden;

    width: 100%;
    margin: 0;
}


.b-header__dropdown-menu ul li{
    font-size: 14px;

    padding: 5px;

    list-style-type: none;

    text-align: center;

    color: #278b8f;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
    background-color: rgba(235, 235, 235, .8);
}

.b-header__dropdown-menu ul li:hover{
    cursor: pointer;

    -webkit-box-shadow: inset 0 1px 2px 0 rgba(158,158,158,.5);
       -moz-box-shadow: inset 0 1px 2px 0 rgba(158,158,158,.5);
            box-shadow: inset 0 1px 2px 0 rgba(158,158,158,.5);
}


.header-a-color{
    padding-top: 2px;
    padding-bottom: 2px;

    color: #019199;
}
.header-a-color:visited{
    color: #019199;
}


.header-a-color:active,
.header-a-color:hover,
.header-a-color:focus{
    color: #8c8c8c;
}


@media(max-width: 947px){
    .b-header__to-personal-area,
    .b-header__give-announcement{
        width: 150px;
    }


    .b-header__exit{
        width: 50px;
    }
}


@media(max-width: 850px){
    .b-header__content{
        width: 90%;
    }
}


@media(max-width: 620px){
    .b-header__to-personal-area,
    .b-header__give-announcement,
    .b-header__exit{
        display: none;
    }
    .b-header__dropdown-menu-ico{
        display: block;
    }
}


@media(min-width: 620px){
    .b-header__dropdown-menu ul{
        display: none;
    }
}
