.b-button-add-announcement,
.b-button-add-announcement:focus,
.b-button-add-announcement:hover,
.b-button-see-announcement,
.b-button-see-announcement:hover,
.b-button-see-announcement:focus{
    font-size: 18px;

    width: 230px;
    height: 55px;
    padding: 1px 0 2px 0;

    border-width: 2px;
    border-style: solid;
    border-color: #365f63;
    -webkit-border-radius: 8px; /* Safari, Chrome */
       -moz-border-radius: 8px; /* Firefox */
            border-radius: 8px;
    box-shadow: none;

    -khtml-border-radius: 8px; /* KHTML */
}

.b-button-add-announcement,
.b-button-add-announcement:focus,
.b-button-add-announcement:hover{
    float: left;

    background: #e3cf56;
}

.b-button-add-announcement{
    color: #365f63;
}

.b-button-add-announcement:hover,
.b-button-add-announcement:focus{
    cursor: pointer;

    color: white;
}

.b-button-see-announcement,
.b-button-see-announcement:focus,
.b-button-see-announcement:hover{
    float: right;

    background: white;
}

.b-button-see-announcement{
    color: #365f63;
}

.b-button-see-announcement:hover,
.b-button-see-announcement:focus{
    cursor: pointer;

    color: #e3cf56;
}
