.b-list__content{
    width: 937px;
    margin: 0 auto;
}

.b-list-elem{
    width: 100%;
    height: 238px;

    border-width: 2.78px;
    border-style: solid;
    border-color: #5cc9cc;
    margin-top: 40px;
    position: relative;
}

.b-list-elem:hover,
.b-list-elem:focus{
-webkit-box-shadow: 0px 0px 10px 5px rgba(54,95,99,0.5);
-moz-box-shadow: 0px 0px 10px 5px rgba(54,95,99,0.5);
box-shadow: 0px 0px 10px 5px rgba(54,95,99,0.5);
}


.b-list-elem__content{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 891px;
    height: 190px;

    transform: translate(-50%, -50%);
}

/*#productInfo*/

.b-product-info{
    float: left;

    width: 641px;
    height: 100%;
    margin-right: 58px;
}


.b-product-info__title{
    width: 100%;
    height: 34px;
    margin-bottom: 27px;
}

.b-product-info__product-name{
    font-size: 24px;

    float: left;

    width: 460px;
    margin-right: 3px;
    padding-bottom: 11px;
    padding-right: 5px;

    color: #365f63;
}

.b-product-info__product-name p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}

.b-product-info__discription{
    font-size: 16px;

    width: 100%;
    height: 40px;
    margin-bottom: 48px;

    color: #3c3a3a;
}


.b-product-info__set-price{
    width: 100%;
    height: 40px;
}

.b-product-info__price{
    font-size: 16px;

    float: left;

    width: 125px;
    height: 40px;
    margin-right: 2.5px;
    padding-top: 13px;
    padding-right: 13px;
    padding-left: 13px;

    color: #365f63;
    -webkit-border-radius: 3px; /* Safari, Chrome */
       -moz-border-radius: 3px; /* Firefox */
            border-radius: 3px;
    background-color: #e3cf56;

    -khtml-border-radius: 3px; /* KHTML */
}

@font-face{
    font-family: RUBSN;

    src: url('../vendor/fonts/Rub/RUBSN.otf')  format("opentype");
}

.b-product-info__rub-price{
    font-family: RUBSN, 'RUBSN';
}

.b-product-photo{
    float: left;
position: relative;
    width: 192px;
    height: 192px;
}

.b-product-photo__photo img{
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 192px;
    max-height: 192px;

    transform: translate(-50%, -50%);
}

.b-product-photo__default-photo{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 42px;
    height: 42px;

    transform: translate(-50%, -50%);
}


.b-product-photo__default-photo img{
    max-width: 42px;
    max-height: 42px;
}

.b-list-content-elem-inside-photo__author-photo{
    position: relative;
    z-index: 99998;

    float: right;

    width: 52px;
    height: 52px;
    margin-top: -160px;
    margin-right: -20px;

    border-width: 3px;
    border-style: solid;
    border-color: white;
    -webkit-border-radius: 56px; /* Safari, Chrome */
       -moz-border-radius: 56px; /* Firefox */
            border-radius: 56px; /* CSS3 */
    -webkit-box-shadow: 0 0 5px 1px rgba(207,205,207,.2);
       -moz-box-shadow: 0 0 5px 1px rgba(207,205,207,.2);
            box-shadow: 0 0 5px 1px rgba(207,205,207,.2);

    -khtml-border-radius: 56px; /* KHTML */
    behavior: url(border-radius.htc); /*IE */
}

.b-list-content-elem-inside-photo__author-photo img{
    -webkit-border-radius: 56px; /* Safari, Chrome */
    /*закругление*/
       -moz-border-radius: 56px; /* Firefox */
            border-radius: 56px; /* CSS3 */

    -khtml-border-radius: 56px; /* KHTML */
    behavior: url(border-radius.htc); /*IE */
}
