.b-button-add-announcement,
.b-button-add-announcement:focus,
.b-button-add-announcement:hover,
.b-button-see-announcement,
.b-button-see-announcement:hover,
.b-button-see-announcement:focus {
    width: 212px;
    height:58px;
    padding: 1px 0 2px 0;
    font-size: 14.5px;
    border-width: 3px;
    border-color: #0e5e63;
    border-style: solid;
    border-radius: 10px;
    box-shadow: none;
    -moz-border-radius: 10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
}

.b-button-add-announcement, .b-button-add-announcement:focus, .b-button-add-announcement:hover {
    background: #edd04e;
    float: left;
}

.b-button-add-announcement{
    color: #0e5e63;
}

.b-button-add-announcement:hover,
.b-button-add-announcement:focus  {
    color: white;
    cursor: pointer;
}

.b-button-see-announcement, .b-button-see-announcement:focus, .b-button-see-announcement:hover {
    background: white;
    float: right;
}

.b-button-see-announcement{
    color: #5cc9cc;
}

.b-button-see-announcement:hover, .b-button-see-announcement:focus  {
    color: #0e5e63;
    cursor: pointer;
}
