/*ВЫВОД СПИСКА ДЛЯ МИКСИНА*/
.b-list-content{
    max-width: 860px;
    margin: 0 auto;
    padding-top: 52px;
}

/*need link's hover*/
.b-list-content-elem{
    width: 100%;
}

.b-list-content-elem:hover{
-webkit-box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.39);
-moz-box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.39);
box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.39);}


.b-list-content-elem:focus{
-webkit-box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.39);
-moz-box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.39);
box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.39);}

.b-list-block_separate-line{
    width: 100%;
    height: 1px;
    background-color: #5cc9cc;
}

.b-list-content-elem:hover .b-list-block_separate-line{
background-color: white;
}


.b-list-block_end-separate-line{
    width: 100%;
    height: 1px;
    background-color: #5cc9cc;
    margin-bottom: 12px;
    margin-top: -15px;
}

.b-list-content-elem:hover .b-list-block_end-separate-line{
background-color: white;
}

/*внутренность блока*/
.b-list-content-elem-inside{
    width: 766px;
    margin: 0 auto;
    height: 203px;
}


.b-list-content-elem-inside-info{
    width: 577px;
    height: 100%;
    padding-right: 25px;
    float: left;
}
/*содержимое info-block*/
.b-list-content-elem-inside-info-title{
    width: 100%;
    height: 22px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.b-list-content-elem-inside-info-title_product-title{
    width: 70.66%;
    height: 22px;
    font-size: 18px;
    color: #278b8f;
    float: left;
}

.b-list-content-elem-inside-info-title_product-title p{
/*обрезка с многоточнием*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding-right: 5px;
}

.b-list-content-elem-inside-info_discription{
    width: 100%;
    height: 42px;
    float: left;
    font-size: 14px;
    color: #626262;
    margin-bottom: 30px;
}


.b-list-content-elem-inside-info_discription p{
/*обрезка с многоточнием*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding-right: 5px;
}

.b-list-content-elem-inside-info-price{
    min-width: 90%;
    height: 40px;
    float: left;
    font-size: 16px;
    color: #278b8f;
    border-width: 2px;
    border-color: #b3e5e7;
    border-style: solid;
    border-radius: 5px;
    padding-top: 8px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
}

.b-list-content-elem-inside-info-price_price{
    width: 160px;
    height: 40px;
    float: left;
    margin-right: 5px;
    padding-left: 3px;
    padding-right: 3px;
}

/*фото блок*/
.b-list-content-elem-inside-photo{
    width: 147px;
    float: left;
    height: 147px;
    margin-top: 12px;
    margin-bottom: 15px;
    float: left;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(158,158,158,0.5);
    -moz-box-shadow: 2px 4px 5px 0px rgba(158,158,158,0.5);
    box-shadow: 2px 4px 5px 0px rgba(158,158,158,0.5);
    position: relative;
}

.b-list-content-elem-inside-photo_product-photo{
    width:100%;
    height:100%;
}

.b-list-content-elem-inside-photo_product-photo img{
    max-width: 145px;
    max-height:145px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.b-list-content-elem-inside-photo_default-photo{
    width:42px;
    height:42px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.b-list-content-elem-inside-photo_default-photo img{
max-width: 42px;
max-height: 42px;

}

.b-list-content-elem-inside-photo_author-photo{
    width: 52px;
    height: 52px;
    float: right;
    margin-top: -160px;
    margin-right: -20px;
    position: relative;
    z-index: 99998;

    border-width: 3px;
    border-style: solid;
    border-color: white;
    -webkit-box-shadow: 0 0 5px 1px rgba(207,205,207,.2);
       -moz-box-shadow: 0 0 5px 1px rgba(207,205,207,.2);
            box-shadow: 0 0 5px 1px rgba(207,205,207,.2);
    -moz-border-radius: 56px; /* Firefox */
    -webkit-border-radius: 56px; /* Safari, Chrome */
    -khtml-border-radius: 56px; /* KHTML */
    border-radius: 56px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */

}

.b-list-content-elem-inside-photo_author-photo img{
/*закругление*/
    -moz-border-radius: 56px; /* Firefox */
    -webkit-border-radius: 56px; /* Safari, Chrome */
    -khtml-border-radius: 56px; /* KHTML */
    border-radius: 56px; /* CSS3 */
    behavior: url(border-radius.htc); /*IE */
}
