.b-lending-element__base-color{
    position: relative;

    width: 100%;
    height: 710px;

    background-color: #5cc9cc;
}


.b-lending-element__background-image{
    position: absolute;
    bottom: 0;
    left: 50%;

    max-width: 1400px;
    min-width: 320px;
    width: 100%;
    height: 582px;

    transform: translate(-50%, 0);

    background-image: url('../images/lending-elements/lending-element-bk.png');
    background-repeat: no-repeat;
}


.b-lending-element__name-service{
    font-family: RoundsBlack, 'RoundsBlack';
    font-size: 57px;

    width: 100%;
    min-width: 320px;
    margin-top: -15px;
    margin-bottom: 8px;

    text-align: center;

    color: white;
}

.b-lending-element__motto{
    font-size: 19px;

    width: 100%;
    height: 18px;
    margin-bottom: 41px;

    text-align: center;

    color: white;
}

@font-face{
    font-family: RoundsBlack;

    src: url('../vendor/fonts/RoundsBlack/RoundsBlack.ttf')  format('truetype');
}

.b-lending-element__name-service p{
    font-family: RoundsBlack, 'RoundsBlack';
}

.b-lending-element__button-content{
    width: 486px;
    margin: 0 auto;
}

.b-lending-element__button-add-announcement,
.b-lending-element__button-add-announcement:focus,
.b-lending-element__button-add-announcement:hover,
.b-lending-element__button-see-announcement,
.b-lending-element__button-see-announcement:hover,
.b-lending-element__button-see-announcement:focus{
    font-size: 18px;

    width: 230px;
    height: 58px;
    padding: 5px 0 2px 0;

    border-width: 3px;
    border-style: solid;
    border-color: #365f63;
    -webkit-border-radius: 15px; /* Safari, Chrome */
       -moz-border-radius: 15px; /* Firefox */
            border-radius: 15px;
    box-shadow: none;

    -khtml-border-radius: 15px; /* KHTML */
}

.b-lending-element__button-add-announcement,
.b-lending-element__button-add-announcement:focus,
.b-lending-element__button-add-announcement:hover{
    float: left;

    background: #e3cf56;
}

.b-lending-element__button-add-announcement{
    color: #365f63;
}

.b-lending-element__button-add-announcement:hover,
.b-lending-element__button-add-announcement:focus{
    cursor: pointer;

    color: white;
    outline: none;
}

.b-lending-element__button-see-announcement,
.b-lending-element__button-see-announcement:focus,
.b-lending-element__button-see-announcement:hover{
    float: right;

    background: white;
}

.b-lending-element__button-see-announcement{
    color: #365f63;
}

.b-lending-element__button-see-announcement:hover,
.b-lending-element__button-see-announcement:focus{
    cursor: pointer;

    color: #e3cf56;
    outline: none;
}

@media(max-width: 854px){
    .b-lending-element__base-color{
        height: 582px;
    }
    
    .b-lending-element__background-image{
        height: 582px;
        background: url('../images/lending-elements/pattern.png');
        background-repeat: repeat;
        background-size: 70%; 
        background-color: rgba(92, 201, 204, 1);
   
    }

    .b-lending-element__name-service{
        margin-top: 113px;
        font-size: 53px;
    }
    
    .b-lending-element__motto{
        font-size: 17px;
    }
    
    .b-lending-element__button-content{
        width: 445px;
    }
    
    .b-lending-element__button-add-announcement,
    .b-lending-element__button-add-announcement:focus,
    .b-lending-element__button-add-announcement:hover,
    .b-lending-element__button-see-announcement,
    .b-lending-element__button-see-announcement:hover,
    .b-lending-element__button-see-announcement:focus{
        font-size: 17px;
        width: 220px;
    }
}

@media(max-width: 540px){
    .b-lending-element__base-color{
        height: 400px;
    }
    
    .b-lending-element__background-image{
        height: 400px;
    }

    .b-lending-element__name-service{
        margin-top: 50px;
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .b-lending-element__motto{
        font-size: 29.8px;
    }
    
    .b-lending-element__button-content{
        width: 300px;
        padding-top: 35px;
    }
    
    .b-lending-element__button-add-announcement,
    .b-lending-element__button-add-announcement:focus,
    .b-lending-element__button-add-announcement:hover,
    .b-lending-element__button-see-announcement,
    .b-lending-element__button-see-announcement:hover,
    .b-lending-element__button-see-announcement:focus{
        font-size: 18px;
        width: 300px;
        height: 65px;
    }
    .b-lending-element__button-add-announcement,
    .b-lending-element__button-add-announcement:focus,
    .b-lending-element__button-add-announcement:hover{
        margin-bottom: 13px;
    }
}

@media(max-width: 480px){
    .b-lending-element__name-service{
        font-size: 45px;
    }
    
    .b-lending-element__motto{
        font-size: 26.8px;
    }
    
    .b-lending-element__button-content{
        width: 280px;
        padding-top: 35px;
    }
    
    .b-lending-element__button-add-announcement,
    .b-lending-element__button-add-announcement:focus,
    .b-lending-element__button-add-announcement:hover,
    .b-lending-element__button-see-announcement,
    .b-lending-element__button-see-announcement:hover,
    .b-lending-element__button-see-announcement:focus{
        width: 280px;
    }
}

@media(max-width: 437px){
    .b-lending-element__name-service{
        font-size: 40px;
    }
    
    .b-lending-element__motto{
        font-size: 22.8px;
    }
    
    .b-lending-element__button-content{
        width: 228px;
        padding-top: 40px;
    }
    
    .b-lending-element__button-add-announcement,
    .b-lending-element__button-add-announcement:focus,
    .b-lending-element__button-add-announcement:hover,
    .b-lending-element__button-see-announcement,
    .b-lending-element__button-see-announcement:hover,
    .b-lending-element__button-see-announcement:focus{
        width: 228px;
    }
}

@media(max-width: 382px){
    .b-lending-element__base-color{
        height: 347px;
    }
    
    .b-lending-element__background-image{
        height: 347px;
    }

    .b-lending-element__name-service{
        font-size: 35px;
    }
    
    .b-lending-element__motto{
        font-size: 19.8px;
    }
    
    .b-lending-element__button-content{
        width: 228px;
        padding-top: 10px;
    }
    
    .b-lending-element__button-add-announcement,
    .b-lending-element__button-add-announcement:focus,
    .b-lending-element__button-add-announcement:hover,
    .b-lending-element__button-see-announcement,
    .b-lending-element__button-see-announcement:hover,
    .b-lending-element__button-see-announcement:focus{
        width: 228px;
        height: 58px;
    }
}