.b-list-announcements-elem{
    position: relative;

    width: 100%;
    height: 238px;
    margin: 0 auto;
    margin-top: 60px;

    border-width: 2.78px;
    border-style: solid;
    border-color: #5cc9cc;
}

.b-list-announcements-elem:hover,
.b-list-announcements-elem:focus{
    -webkit-box-shadow: 0 0 10px 5px rgba(54,95,99,.5);
       -moz-box-shadow: 0 0 10px 5px rgba(54,95,99,.5);
            box-shadow: 0 0 10px 5px rgba(54,95,99,.5);
}


.b-list-announcements-elem__content{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 891px;
    height: 190px;

    transform: translate(-50%, -50%);
}

/*#product-info*/
.b-list-announcements-elem-product-info{
    float: left;

    width: 641px;
    height: 100%;
    margin-right: 58px;
}


.b-list-announcements-elem-product-info__title{
    width: 100%;
    height: 34px;
    margin-bottom: 27px;
}

.b-list-announcements-elem-product-info__product-name{
    font-size: 24px;

    float: left;

    width: 460px;
    margin-right: 3px;
    padding-right: 5px;
    padding-bottom: 11px;

    color: #365f63;
}

.b-list-announcements-elem-product-info__product-name p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}

.b-list-announcements-elem-product-info__discription{
    font-size: 16px;

    width: 100%;
    height: 40px;
    margin-bottom: 48px;

    color: #3c3a3a;
}


.b-list-announcements-elem-product-info__set-price{
    width: 100%;
    height: 40px;
}

.b-list-announcements-elem-product-info__price{
    font-size: 16px;

    float: left;

    width: 125px;
    height: 40px;
    margin-right: 2.5px;
    padding-top: 13px;
    padding-right: 13px;
    padding-left: 13px;

    color: #365f63;
    -webkit-border-radius: 3px; /* Safari, Chrome */
       -moz-border-radius: 3px; /* Firefox */
            border-radius: 3px;
    background-color: #e3cf56;

    -khtml-border-radius: 3px; /* KHTML */
}


/*#product-photo*/
.b-list-announcements-elem__product-photo{
    float: left;

    width: 192px;
    height: 192px;
}

.b-list-announcements-elem__product-photo img{
    max-width: 192px;
}


.b-list-announcements-elem__update-button{
    position: absolute;
    z-index: 99997;
    top: -40px;
    right: 69px;

    width: 149px;
    height: 31px;
}


.b-list-announcements-elem__author-ava{
    position: absolute;
    z-index: 99998;
    top: -67px;
    right: 0;

    width: 84px;
    height: 84px;
}


.b-list-announcements-elem__author-ava img{
    max-width: 84px;
    max-height: 84px;

    border-width: 2.87px;
    border-style: solid;
    border-color: #5cc9cc;
    -webkit-border-radius: 84px; /* Safari, Chrome */
       -moz-border-radius: 84px; /* Firefox */
            border-radius: 84px; /* CSS3 */
    -webkit-box-shadow: 0 0 3px 0 rgba(143,140,143,.5);
       -moz-box-shadow: 0 0 3px 0 rgba(143,140,143,.5);
            box-shadow: 0 0 3px 0 rgba(143,140,143,.5);

    -khtml-border-radius: 84px; /* KHTML */
}

.b-adaptive-title{
    display: none;

    width: 100%;
}

.b-adaptive-title__edit-icon{
    width: 25px;
    height: 28px;
    margin-top: -7px;
    float: right;
    background-image: url('../images/edit-icon-white.png');
}

@media(max-width: 965px){
    .b-list-announcements-elem{
        width: 776px;
        margin-bottom: 60px;
    }
    .b-list-announcements-elem__content{
        width: 713px;
    }
    .b-list-announcements-elem-product-info{
        width: 463px;
        margin-right: 15px;
    }

    .b-list-announcements-elem-product-info__product-name{
        max-width: 282px;
    }
}

@media(max-width: 793px){
    .b-list-announcements-elem{
        width: 713px;
        margin-bottom: 60px;
    }
    .b-list-announcements-elem__content{
        width: 650px;
    }
    .b-list-announcements-elem-product-info{
        width: 400px;
        margin-right: 50px;
    }

    .b-list-announcements-elem-product-info__product-name{
        max-width: 360px;
    }

    .b-list-announcements-elem-product-info__price{
        width: 129px;
    }
}

@media(max-width: 731px){
    .b-list-announcements-elem{
        width: 600px;
        height: 338px;
        margin-bottom: 12px;
    }

    .b-list-announcements-elem__content{
        width: 537px;
        height: 338px;
        margin-top: 17px;
    }

    .b-list-announcements-elem-product-info{
        width: 100%;
        height: 148px;
        margin-top: 190px;
        margin-right: 50px;
    }

    .b-list-announcements-elem-product-info__title{
        margin-top: 15px;
        margin-bottom: 0;
    }

    .b-list-announcements-elem-product-info__product-name{
        width: 100%;
        max-width: 100%;
        font-size: 22.86px;
    }
    
    .b-list-announcements-elem-product-info__discription{
        font-size: 15.24px;
    }
    
    .b-list-announcements-elem__author-ava{
        display: none;
    }

    .b-list-announcements-elem__update-button{
        display: none;
    }

    .b-list-announcements-elem-product-info .b-status__ico--right{
        display: none;
    }

    .b-list-announcements-elem-product-info__price{
        display: none;
    }

    .b-adaptive-title{
        display: block;
    }

    .b-list-announcements-elem__product-photo{
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        overflow: hidden;

        width: 320px;
        height: 175px;
        margin-top: -315px;
    }

    .b-list-announcements-elem__product-photo img{
        width: 320px;
        max-width: 320px;
    }
}


@media(max-width: 626px){
    .b-list-announcements-elem{
        width: 300px;
        height: 366px;
    }

    .b-list-announcements-elem__content{
        width: 300px;
    }

    .b-list-announcements-elem-product-info{
        width: 290px;
        padding-left: 11px;
    }

    .b-list-announcements-elem__product-photo{
        width: 294px;
        margin-top: -329px;
    }

    .b-list-announcements-elem__product-photo img{
        width: 294px;
        max-width: 294px;
    }

    .b-list-announcements-elem-product-info__discription{
        height: 67px;
    }
}
