.b-message{
    position: relative;

    width: 443px;
    min-width: 310px;
    margin: 0 auto;
    margin-top: 29px;
}

.b-message-form{
    position: relative;

    width: 100%;
    min-height: 414px;
    margin: 0 auto;
    margin-bottom: 20px;

    border-width: 3px;
    border-style: solid;
    border-color: #5cc9cc;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.b-message-form__text{
    font-size: 24px;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;

    transform: translate(-50%, -50%);
    text-align: center;

    color: #b6b6b6;
}

.b-message-form__text--error{
    font-size: 24px;

    width: 100%;
    margin-bottom: 20px;
    padding-right: 12px;
    padding-left: 12px;

    text-align: center;

    color: #b6b6b6;
}

.b-message-form__text--error p,
.b-message-form__text p{
    white-space:      pre-wrap;
    white-space: -moz-pre-wrap;
    white-space:   -o-pre-wrap;
    word-wrap: break-word;
}

.b-message-form__text--with-buttons{
    top: 40%;

    width: 400px;
}


.b-message-form__buttons{
    position: absolute;
    top: 60%;
    left: 51%;

    width: 348px;
    margin-top: 20px;

    transform: translate(-50%, -50%);
}

.b-message-form__picture{
    width: 283px;
    height: 254px;
    margin: 0 auto;
    margin-bottom: 20px;

    background: inline('../images/error-picture.png');
    background-size: cover;
}


@media(max-width: 572px){
    .b-message{
        width: 460px;
    }

    .b-message-form{
        min-height: 316px;
    }

    .b-message-form__buttons{
        width: 248px;
    }
}


@media(max-width: 471px){
    .b-message{
        width: 360px;
    }

    .b-message-form{
        min-height: 216px;
    }

    .b-message-form__text{
        font-size: 21px;
    }

    .b-message-form__text--with-buttons{
        font-size: 15px;

        width: 350px;
    }
}


@media(max-width: 363px){
    .b-message{
        width: 320px;
    }

    .b-message-form{
        min-height: 176px;
    }

    .b-message__text--with-buttons{
        font-size: 13px;

        width: 300px;
    }
}
