.b-status{
    float: right;

    width: 178px;
    height: 34px;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 8px;
}

.b-status__ico--right{
    float: right;

    width: 22px;
    height: 22px;
}

.b-status__ico--left{
    float: left;

    width: 22px;
    height: 22px;
}

.b-status__text{
    font-size: 18px;

    float: right;
    clear: both;

    width: 156px;
    height: 34px;
    padding-top: 4px;
    padding-left: 7px;

    color: #626262;
}

@media(max-width: 793px){
    .b-status{
        width: 22px;
    }
    .b-status__text{
        display: none;
    }
}

@media(max-width: 731px){
    .b-status{
        display: none;
    }
}