.b-status{
    float: right;

    width: 140px;
    height: 22px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 8px;
}

.b-status__no-padding-top{
    padding-top: 0;
}


.b-status_ico{
    float: right;

    width: 22px;
    height: 22px;
}

.b-status_text{
    font-size: 14px;

    float: right;
    clear: both;

    width: 118px;
    height: 22px;
    padding-top: 4px;
    padding-left: 7px;

    color: #707070;
}
