.b-title--default{
    font-size: 16px;

    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding-top: 11px;
    padding-right: 12px;
    padding-left: 12px;
}

.b-title--blue{
    color: white;
    background-color: #5cc9cc;
}

.b-title--dark-green{
    padding-top: 0;

    color: white;
    background-color: #278b8f;
}

.b-title--text-centered{
    text-align: center;
}

/*title in form*/
.b-title--form{
    font-size: 14px;

    width: 100%;
    margin-bottom: 10px;

    color: #5cc9cc;
}


/*use together for title with icons*/
.b-title--padding-none{
    padding-top: 0;
}

.b-title__text{
    float: left;

    margin-top: 13px;
}

.b-title__text--top{
    margin-top: 0;
}

.b-title__ico-calendar{
    float: right;

    width: 25px;
    height: 25px;
    margin-top: 10px;

    background-image: url('../images/calendar-ico.png');
}


@media(max-width: 467px){
    .b-title--default{
        font-size: 15.24px;

        height: 52px;
        padding-right: 2px;
        padding-left: 2px;
    }

    .b-title__text{
        font-size: 17.78px;
        padding-left: 12px;
    }
    .b-title__ico-calendar{
        margin-right: 8px;
    }
}