.b-title--default{
    font-size: 16px;

    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding-top: 14px;

    text-align: center;
    /*vertical-align: top;*/
    /*    box-shadow: 0 2px 3px #e6e6e6;*/
}

.b-title--blue{
    color: white;
    background-color: #5cc9cc;
}

.b-title--dark-green{
    padding-top: 0;

    color: white;
    background-color: #278b8f;
}


.b-title--padding-none{
    padding-top: 0;
}

.b-title--text-left{
    padding-right: 12px;
    padding-left: 12px;

    text-align: left;
}

.b-title--form{
    font-size: 14px;

    width: 100%;
    margin-bottom: 10px;

    color: #5cc9cc;
}
