.b-title--default{
    font-size: 16px;

    width: 100%;
    height: 38px;
    margin-bottom: 10px;
    padding-top: 14px;

    text-align: center;
    /*vertical-align: top;*/

/*    box-shadow: 0 2px 3px #e6e6e6;*/
}

.b-title--blue{
    background-color: #5cc9cc;
    color: white;
}

.b-title--dark-green{
    background-color: #278b8f;
    color: white;

    padding-top: 0;
}


.b-title--padding-none{
    padding-top: 0;
}

.b-title--text-left{
    text-align: left;
    padding-left: 12px;
}