.b-user-info{
    float: left;

    width: 136px;
    margin-right: 32px;
}

.b-user-info__content{
    width: 100%;
    margin-bottom: 17px;

    background-color: rgba(255, 255, 255, 0.4);
}

.b-user-info__owner{
    font-size: 18px;

    width: 100%;
    margin-bottom: 13px;
    padding-top: 12px;

    text-align: center;

    color: #6b6b6b;
    text-shadow: none;
}


.b-user-info__ava{
    width: 114px;
    height: 114px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.b-user-info__ava img{
    border-width: 5px;
    border-style: solid;
    border-color: #278b8f;
    -webkit-border-radius: 114px; /* Safari, Chrome */
       -moz-border-radius: 114px; /* Firefox */
            border-radius: 114px; /* CSS3 */

    -khtml-border-radius: 114px; /* KHTML */
    behavior: url(border-radius.htc); /*IE */
}

.b-user-info__info{
    font-size: 18px;

    width: 100%;
    padding-right: 3px;
    padding-bottom: 12px;
    padding-left: 3px;

    text-align: center;

    color: #278b8f;

}

.b-user-info__info p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}