.b-user-list-announcements{
    float: left;
    width: 770px;
    margin-bottom: 40px;
}

.b-user-list-announcements__content{
    float: left;

    width: 770px;
    margin-bottom: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: #5cc9cc;
    background-color: white;
}

.b-user-list-announcements__list-content{
    width: 755px;
    margin-bottom: 15px;
    margin-left: 12px;
}


/*one announcement*/
.b-user-announcement{
    float: left;

    width: 239.66px;
    margin-top: 13px;
    margin-right: 12px;
}

.b-user-announcement:hover,
.b-user-announcement:active,
.b-user-announcement:focus{
    cursor: pointer;
    -webkit-box-shadow: 0 0 11px 2px rgba(207,207,207,1);
       -moz-box-shadow: 0 0 11px 2px rgba(207,207,207,1);
            box-shadow: 0 0 11px 2px rgba(207,207,207,1);
}

.b-user-announcement-title{
    font-size: 13px;

    width: 100%;
    height: 25px;
    padding-left: 8px;

    color: white;
    background-color: #278b8f;
}

.b-user-announcement-title__price{
    float: left;

    padding-top: 3px;
}

.b-user-announcement-title__status{
    float: right;

    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-right: 8px;
}


.b-user-announcement__photo{
    width: 239.66px;
    height: 239.66px;
    margin-bottom: 8px;
}


.b-user-announcement__photo img{
    width: 239.66px;
}

.b-user-announcement__product-name{
    font-size: 18px;

    width: 100%;
    height: 26px;
    margin-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;

    color: #278b8f;
}

.b-user-announcement__product-name p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}

.b-user-announcement__product-description{
    font-size: 12px;

    width: 100%;
    height: 48px;
    margin-bottom: 24px;
    padding-right: 8px;
    padding-left: 8px;

    color: #626262;
}


@media(max-width: 953px){
    .b-user-list-announcements{
        width: 700px;
        margin-left: 30px;
    }

    .b-user-list-announcements__content{
        width: 700px;
    }

    .b-user-list-announcements__list-content{
        width: 685px;
    }

    .b-user-announcement{
        width: 216.3px;
    }

    .b-user-announcement__photo{
        width: 216.3px;
        height: 216.3px;
    }

    .b-user-announcement__photo img{
        width: 216.3px;
    }
}

@media(max-width: 888px){
    .b-user-list-announcements{
        margin-left: 10px;
    }
}

@media(max-width: 877px){
    .b-user-list-announcements{
        float: none;
        margin: 0 auto;
        margin-top: 40px;
    }
}

@media(max-width: 737px){
    .b-user-list-announcements{
        width: 455px;
        margin-top: 15px;
    }
    
    .b-user-list-announcements__content{
        width: 455px;
    }

    .b-user-list-announcements__list-content{
        width: 438px;
    }

    .b-user-announcement{
        width: 210px;
        margin-top: 12px;
        margin-right: 9px;
    }

    .b-user-announcement__photo{
        width: 210px;
        height: 210px;
    }

    .b-user-announcement__photo img{
        width: 210px;
    }
}

@media(max-width: 467px){
    .b-user-list-announcements{
        width: 304px;
        margin: 0 auto;
    }
    
    .b-user-list-announcements__content{
        width: 304px;
        border: none;
        background-color: transparent;
    }

    .b-user-list-announcements__list-content{
        width: 328px;
        margin-left: 0;
    }

    .b-user-list-announcements__content .b-title--default{
        display: none;
    }

    .b-user-announcement{
        width: 304px;
        margin-top: 18px;
        margin-right: 0;
        background-color: white;
    }

    .b-user-announcement__photo{
        width: 304px;
        margin-bottom: 15px;
        height: 304px;
    }

    .b-user-announcement__photo img{
        width: 304px;
    }
}