.b-user-list-announcements{
    float: left;

    width: 692px;
}


.b-user-list-announcements__title{
    width: 680px;
    margin-bottom: -10px;
    padding-right: 15px;
    padding-left: 15px;

    text-align: left;
}


.b-user-list-announcements__title p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}
