.b-user-info{
    float: left;

    width: 136px;
    margin-right: 33px;

    background-color: rgba(242, 242, 242, 1);
}


.b-user-info__owner{
    font-size: 18px;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 13px;

    text-align: center;

    color: #6b6b6b;
    text-shadow: none;
}


.b-user-info__ava{
    width: 114px;
    height: 114px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.b-user-info__ava img{
    border-width: 5px;
    border-style: solid;
    border-color: #278b8f;
    -webkit-border-radius: 114px; /* Safari, Chrome */
       -moz-border-radius: 114px; /* Firefox */
            border-radius: 114px; /* CSS3 */

    -khtml-border-radius: 114px; /* KHTML */
    behavior: url(border-radius.htc); /*IE */
}

.b-user-info__info{
    font-size: 18px;

    width: 100%;
    margin-bottom: 11px;
    padding-right: 3px;
    padding-left: 3px;

    text-align: center;

    color: #278b8f;
    text-shadow: 0 2px 5px #b1b1b1;
}

.b-user-info__info p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}


/*#personal__area*/
.b-personal-area-title{
    width: 100%;
    padding-top: 3px;
    padding-right: 8px;
    padding-left: 8px;
}

.b-personal-area-title__title{
    font-size: 16px;

    float: left;

    width: 110px;

    color: #747474;
    text-shadow: 0 2px 5px #b1b1b1;
}


.b-personal-area-title__title p{
    font-family: MyriadProRegular, 'MyriadProRegular';
}


.b-personal-area-title__ico-update{
    float: right;

    width: 17px;
    height: 17px;
    margin-left: 5px;
}
