.b-user-info{
    float: left;

    width: 136px;
    margin-right: 32px;
}

.b-user-info__content{
    width: 100%;
    margin-bottom: 17px;

    background-color: rgba(255, 255, 255, .4);
}

.b-user-info__owner{
    font-size: 18px;

    width: 100%;
    margin-bottom: 13px;
    padding-top: 12px;

    text-align: center;

    color: #6b6b6b;
    text-shadow: none;
}

.b-user-info__edit-info{
    width: 28px;
    display: none;
    height: 28px;
    background-image: url('../images/edit-profile.png');
    float: right;
    margin-top: -26px;
    margin-right: 5px;   
}

.b-user-info__ava{
    width: 114px;
    height: 114px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.b-user-info__ava:hover,
.b-user-info__ava:focus,
.b-user-info__ava:active,
.b-user-info__edit-info:hover,
.b-user-info__edit-info:focus,
.b-user-info__edit-info:active{
    cursor: pointer;
}

.b-user-info__ava img{
    width: 114px;
    height: 114px;

    border-width: 5px;
    border-style: solid;
    border-color: #278b8f;
    -webkit-border-radius: 114px; /* Safari, Chrome */
       -moz-border-radius: 114px; /* Firefox */
            border-radius: 114px; /* CSS3 */

    -khtml-border-radius: 114px; /* KHTML */
    behavior: url(border-radius.htc); /*IE */
}

.b-user-info__info{
    font-size: 18px;

    width: 100%;
    padding-right: 3px;
    padding-bottom: 12px;
    padding-left: 3px;

    text-align: center;

    color: #278b8f;
}

.b-user-info__info p{
    overflow: hidden;

    white-space: nowrap;
       text-overflow: ellipsis;

    -o-text-overflow: ellipsis;
}

@media(max-width: 947px){
    .b-user-info{
        margin-right: 22px;
    }
}

@media(max-width: 920px){
    .b-user-info{
        margin-right: 12px;
    }
}

@media(max-width: 900px){
    .b-user-info{
        margin-right: 5px;
    }
}

@media(max-width: 877px){
    .b-user-info{
        float: none;

        width: 455px;
        height: 81px;
        margin: 0 auto;
    }

    .b-user-info__content{
        background-color: transparent;
    }

    .b-user-info__owner{
        float: right;

        width: 361px;
        margin-bottom: 0;
        padding-bottom: 10px;

        background-color: rgba(255, 255, 255, .4);
    }

    .b-user-info__ava{
        float: left;

        width: 81px;
        height: 81px;
    }

    .b-user-info__ava img{
        width: 81px;
        height: 81px;

        -webkit-border-radius: 81px; /* Safari, Chrome */
           -moz-border-radius: 81px; /* Firefox */
                border-radius: 81px; /* CSS3 */

        -khtml-border-radius: 81px; /* KHTML */
        behavior: url(border-radius.htc); /*IE */
    }

    .b-user-info__info{
        float: right;

        width: 361px;

        background-color: rgba(255, 255, 255, .4);
    }
    
    .b-user-info__edit-info{
        display: block;
    }
}


@media(max-width: 467px){
    .b-user-info{
        width: 304px;
    }

    .b-user-info__owner{
        width: 210px;
    }

    .b-user-info__info{
        width: 210px;
    }
}
