mixin create-message(messageText,messageSrc)
    .b-message
        .b-message-form
            .b-message-form__text
                text(style="margin-right: 3px; vertical-align: super;")=messageText
                img(src="#{messageSrc}")