mixin create-message(textFirstPart,textSecondPart, firstButton, secondButton)
    .b-message
        .b-message-text(style="width: 400px;")
            .b-message-text__text(style="margin-bottom: 20px;")
                p=textFirstPart
                br
                p=textSecondPart
            .base 
                .order
                    a(href="/")
                        input.b-button--default.b-button--blue.b-button--half-size(type='button', value='#{firstButton}')
                    a(href="/")
                        input.b-button--default.b-button--blue.b-button--half-size(type='button', value='#{secondButton}')