mixin create-header()
	.b-header
		.b-header-content
			.base
				.order
					.b-logo
						a(href="/")
							img(src="resources/images/layout/logo.png", width="170", height="45", style="margin-top: 12px")
					.b-header_exit
						a.header-a-color(href="/logout")
							b
								p
									ВЫХОД
					.b-header_to-personal-area
						a.header-a-color(href="/personal_area")
							b
								p
									ЛИЧНЫЙ КАБИНЕТ
