mixin create-message(messageText,messageSrc)
    .b-message
        .b-message__text
            text(style="margin-right: 3px; vertical-align: super;")=messageText
            img(src="#{messageSrc}")