mixin create-user-info(isAuthor)
    .b-user-info(onclick="location.href='/profile?user_id=#{user.id}'")
        .b-user-info__content
            .b-user-info__owner
                b
                    p
                        Владелец:
                        if isAuthor
                            .b-user-info__edit-info(onclick="location.href='/update_profile'")
            .b-user-info__ava
                img(src=user.imageUrl, width="114", height="114")
            .b-user-info__info
                p=user.firstName
            if isAuthor
                if user.phone!=null
                    .b-user-info__info
                        p=user.phone
        if isAuthor
            a(href="/update_profile")
                input.b-button--default.b-button--green.b-button--update-profile(type='submit', value='РЕДАКТИРОВАТЬ ПРОФИЛЬ')
