.b-greeting-new-user-base-color
    .b-greeting-new-user-background-image
        .b-greeting-new-user__name-service
            p
                Дай погонять
        .b-greeting-new-user__motto
            p
                Сервис по поиску и аренде спортивного оборудования
        .b-greeting-new-user-button-content
            a(href="/add")
                button.b-button-add-announcement(type='button')
                    b
                        p
                            ДАТЬ ОБЪЯВЛЕНИЕ
                a(href="/#seeAll")
                    button.b-button-see-announcement(type='button')
                        b
                            p
                                ВСЕ ОБЪЯВЛЕНИЯ
