create_message(message-text,message-src)
	.b-message
		.b-message-text
			.base
				.order
					.b-message-text_text
						p=message-text
					.b-message-block-text_ico
						img(src="#{message-src}")