/*для всего*/
*{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz--box-sizing: border-box;
    box-sizing: border-box;
}
/*убирает рамку пунктиром вокруг кнопок*/
button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="button"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {/* */
	border: none;
	}
/*импортируем шрифты*/
@font-face {
  font-family: RobotoMedium;
  src: url('style/detail-view-ads/fonts/RobotoMedium/RobotoMedium.ttf')  format("truetype");
  font-family: RobotoBold;
  src: url('style/detail-view-ads/fonts/RobotoBold/RobotoBold.ttf')  format("truetype");
  font-family: RobotoRegular;
  src: url('style/detail-view-ads/fonts/RobotoRegular/RobotoRegular.ttf')  format("truetype");

}
html{
    height: 100%;
}

a{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #353535;
}

a:hover{
    color: #353535;
}



/*всегда писать эти 2 блока!!!*/
body{
    font: 100/1.5em;
    height: 100%;
}

p, text{
    padding-right: 2px;
}

text{
    padding-left: 2px;
}
.set-font-size-60{
font-size: 3.750em;
}

.set-font-size-16{
font-size: 1em;
}

.set-font-size-15{
font-size: 0.938em;
}

.set-font-size-20{
font-size: 1.250em;
}

.set-font-size-24{
font-size: 1.5em;
}

.set-font-profile-roboto{
    font-family: RobotoMedium, 'RobotoMedium';
}

.set-font-profile-roboto-reg{
    font-family: RobotoRegular, 'RobotoRegular';

}



.set-font-profile-roboto-bold{
    font-family: RobotoBold, 'RobotoBold';

}

.set-font-size-14{
font-size: 0.875em;
}
