html{
height: 100%;
}

body{
height: 100%;
}

.content{
margin-top: 90px;
width: 100%;
height:100%-90px;
}

.centered {
width: 560px;
height:356px;
margin: 0 auto;
background-color: white;
}
.logo-position{

margin-top: 15px;
}

.gray-line{
width:100%;
height: 11px;
background-image: url('images/gr.png');
background-repeat: repeat;
}

.image {
position:absolute;
margin:auto;
top:0;
bottom:0;
left:0;
right:0;
}

.message-text{
vertical-align:center;
text-align: center;
}

h1 img{
margin-left: 5px;
margin-right: 5px;
}

.left-sh{
margin-left:0;
background-image: url('images/left-l.png');
background-repeat: repeat-y;
width: 3px;
height:356px;
}

.background-gray{
width: 100%;
min-height:100%;
background-color: #f4f4f4;
}

.text-message-position {
    padding-top: 100px;
    text-align: center;
}

.text-message-position-exept-err{
    padding-top: 140px;
    text-align: center;
}

.background-white{
width: 100%;
height:90px;
background-color: white;
}

.cancel-message-color{
color: #b6b6b6;
}

.shadow{
box-shadow: 0 3px 5px rgb(220,220,220);;
}

.box-oops{
width: 50px;
height:10px;
margin-top: 166px;
background-color: red;
}

.box-text{



}
