html{
height: 100%;
width: 100%;
}

body{
height: 100%;
width: 100%;
background-color: #e3e3e3;
background-image: url('images/reg-bk.jpg');
}

.background-line{
width: 100%;
height:90px;
}

h4{
padding-top: 20%;
}

.for-error{
width: 35%;
height:16%;
margin: 0 auto;
}


.set-roboto{

    font-family: 'Roboto', sans-serif;
}

.set-18{

font-size: 1.125em;
}

.sector1{
width: 100%;
float: left;
}

.image-to-center{
text-align: center; /* Выравнивание по центру */
}

.center {
width: 22%;
min-width: 170px;
 height:40%;
 margin-left: 38%;
 margin-right: 38%;
margin-top: 145px;
 }


.center-auth {
width: 22%;
min-width: 170px;
height:25%;
margin-left: 38%;
margin-right: 38%;
margin-top: 145px;
}

.for-error-auth{
width: 22%;
height:16%;
margin: 0 auto;
}
.text-right{
float: right;
}

.text-white-color{
color: white;
}

input{
padding-left: 10px;
color: #949494;
}


input::-webkit-input-placeholder {

font-family: 'Roboto', sans-serif;
font-size: 1em;
}
/*деалет внутренннюю тень*/
input:focus{
box-shadow: 0 0 8px #E6E6E6 inset;
}
/*убирает подстветку placeholder*/
input:focus:-ms-input-placeholder{
    color: transparent;

}

input:focus::-moz-placeholder{
    color: transparent;

}
input:focus:-moz-placeholder{
    color: transparent;

}
input:focus::-webkit-input-placeholder{
    color: transparent;

}
input:focus:placeholder-shown{
    color: transparent;

}
