.row{
padding: 3px;
margin: 3px;
}

.label-position {
	margin-top: 8px;
}

.motto-position{
	margin-top: 50px;
}

.btn-color{
background-color: #5dc8cd; 
color: white; 
border-color:#5dc8cd;


}
a, a:hover{
text-decoration: none;
}

.size-text-rap {
    word-wrap: break-word;
    hyphens: auto;
           }

.size-text-norap {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
padding: 5px;
 -o-text-overflow: ellipsis;
width: 100%;
}

.motto-color{
color: #5dc8cd;



}