mixin list(goods)
	.order
		each Goods in goods
			- announcement_id = Goods.id;
			a(href="/see_announcement?announcement_id=#{announcement_id}")
				.white-box-for-text.shadow
					.one-foto-box
						each image in Goods.imageUrl
							img(src=image)
					.title
						b
							p.size-text-norap=Goods.title
					.description
						b
							p.size-text-norap=Goods.description