link(rel='shortcut icon', href='resources/images/favicon/favicon-16.png', type='image/x-icon')
link(rel='icon', href='resources/images/favicon/favicon-32.png', type='image/x-icon')
link(rel='shortcut icon', href='resources/favicon/images/favicon-16.ico', type='image/x-icon')
link(rel='icon', href='resources/images/favicon/favicon-32.ico', type='image/x-icon')
