.b-status
    if (Goods.status)
        .b-status__text
            b
                p
                    К аренде готов!
        .b-status__ico--right
            img(src="resources/images/status-announcement/ready-ico.png", width="22", height="22")
    else
        .b-status__text
            b
                p
                    Уже арендован.
        .b-status__ico--right
            img(src="resources/images/status-announcement/not-ready-ico.png", width="22", height="22")