script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='resources/scripts/header.js')
script(src='resources/scripts/cut-text.js')
script(src="resources/vendor/scripts/cut-text/dotdotdot.js")
script(src='https://cdnjs.cloudflare.com/ajax/libs/flight/1.1.4/flight.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js')