if (Goods.status)
    .b-status__ico--left
        img(src="resources/images/status-announcement/ready-ico.png", width="22", height="22")
else
    .b-status__ico--left
        img(src="resources/images/status-announcement/not-ready-ico.png", width="22", height="22")