
/*контент*/
.my-content{
    width: 100%;
    background-image: url("images/pattern-gr.jpg");
    padding-top: 17px;

}


/*внутренность блока с выравниванием*/
.content-inside-block{
    width: 429px;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 10px;

}

/*заголовок "ваше объявление"*/
.content-block-header{
    width: 100%;
    height: 45px;
    background-color: #6fb2b4;
    box-shadow: 0 2px 3px #E6E6E6;
    vertical-align: top;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125em;
    color: white;
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

.content-block-header p{
    padding-top: 12px;
    text-shadow: 0 2px 3px #a19d9d;
}

/*блок со всеми input*/
.content-block-inside-info{
    width: 83.85%;
    height: auto;
    margin: 0 auto;
    padding-top: 57px;

}

/*Ваш инвернтарь, цена*/
.your-inventory-title-block, .your-inventory-price-block, .your-inventory-foto-block {
    width: 100%;
    height: 41px;
    text-shadow: 0 1px 1px #d4cfcf;
    font-family: 'Roboto', sans-serif;
    font-size: 0.953em;
    color: #7cced1;
    float: left;
}

.your-inventory-price-block, .your-inventory-foto-block{
   padding-bottom: 13px;

}

.your-inventory-foto-block{
padding-left: 39px;
padding-top: 9px;
}



/*input-ы*/
.input-name-announcement, .textarea-discription-announcement, .input-price {
    float: left;
    margin-bottom: 11px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.875em;
    border-color: #c7c7c7;
    border-style: solid;
    border-width:1px;
}

.help-block{
    width: 85.92%;
    height: auto;
    margin: 0 auto;
}

.input-price{
    width: 30.6024%;
    height: 34px;
    margin-right: 10px;
}

.input-name-announcement{
    width: 67.90%;
    height: 34px;
}

.textarea-discription-announcement{
    width: 100%;
    resize: none;
    height: 152px;
    margin-bottom: 19px;
}



textarea{
    padding-top: 13px;
}


.input-name-announcement:focus,
.input-name-announcement:hover,
.textarea-discription-announcement:focus,
.textarea-discription-announcement:hover,
.input-price:focus,
.input-price:hover{
     border-color: #c7c7c7;
     border-style: solid;
     border-width: 1px;
}

/*деалет внутренннюю тень*/
.input-name-announcement:focus,
.textarea-discription-announcement:focus,
.input-price:focus{
    box-shadow: 0 0 8px #E6E6E6 inset;
}

input, textarea{
    padding-left: 10px;
    color: #949494;
}


input::-webkit-input-placeholder, textarea:: -webkit-input-placeholder {
    font-size: 1em;
}
/*убирает подстветку placeholder*/
input:focus:-ms-input-placeholder, , textarea: focus:-ms-textarea-placeholder{
    color: transparent;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder{
    color: transparent;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder{
    color: transparent;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
    color: transparent;
}
input:focus:placeholder-shown, textarea:focus:placeholder-shown{
    color: transparent;
}

.help-foto-block{
    width: 85.92%;
    height: auto;
    margin-top: 12px;
    margin-left: 39px;
    margin-right: 29px;
    padding-bottom: 20px;
    margin: 0 auto;
}


.foto-block{
    width: 30.6024%;
    height: 128px;
    margin-right: 10px;
    float: left;
    border-color: #c7c7c7;
    border-style: solid;
    border-width: 1px;
    position: relative;
}

.foto-block-inside{
width: 66px;
height: 86px;
position: absolute;
top: 50%;
left: 50%;
transform:translate(-50%, -50%);
marginx-top: 12 px;
align: center;
text-align: center;
text-decoration: underline;
font-size: 14px;
}

/*контейнер для маски*/
.download-mask{
    width: 100%;
    height: 100%;
}
/*маска*/
.send-file{
    background-image: none;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 14px;
    color:  #c7c7c7;
    text-decoration: underline;

}

.fileInputText {
    width: 100%;
    background-image: none;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color:  #c7c7c7;
    margin-top: 20px;
    position: relative;
    text-decoration: none;
    /*обрезка с многоточнием*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    padding-right: 5px;
    float: left;
}

/*реальная кнопка*/
.custom-file-input {
   width: 66px;
   height: 86px;
   opacity: 0;
   filter: alpha(opacity=0);
   position: relative;
   top: -86px;
   left: 0;
   z-index: 99999;
   cursor: pointer;
   padding-left: 0;
}


.content-button-block{
    width: 34.5%;
    margin: 0 auto;
    height: 40px;
}


/*кнопка разместить*/
.button-update, .button-update:focus, .button-update:hover {
    width: 162px;
    height:40px;
    background: #edd04e;
    float: right;
    color: white;
    padding: 1px 0 2px 0;
    font-size: 0.875em;
    border-radius: 5px;
    box-shadow: none;
    font-width: bold;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    -khtml-border-radius: 5px; /* KHTML */
    font-family: 'Roboto', sans-serif;
}

.button-update:hover {
    color: #949494;
    cursor: pointer;
}

.button-update:focus {
    color: #949494;
    cursor: pointer;
}


.block-file-name-text{
width:100%
height: 20px;
}



/*адаптивность*/

@media screen and (max-width: 450px){
.my-content{
width: 100%;
height: 100%;
background-color: white;
background-image: none;
}
.content-inside-block{
width: 100%;
height: 100%;
background-color: white;
background-image: none;
}

}

@media screen and (max-width: 408px){

.your-inventory-title-block{
    text-align: center;
}

.textarea-discription-announcement{
    height: 75px;
}
.content-inside-block{
    width: 100%;
    min-width: 320px;
}

.input-name-announcement{
    width: 100%;
}

.your-inventory-price-block{
    text-align: center;
}

.input-price{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 12px;
}
.help-block{
width: 330px;
}
.your-inventory-foto-block{
    margin: 0 auto;
    text-align: center;
    width: 408px;
    padding-right: 39px;
}
.help-foto-block{
width: 330px;
}

.foto-block{
    margin: 0 auto;
    display: block;
    float:none;
    margin-bottom:12px;
    width:100%;
}
.button-update{
margin: 0 auto;
float: none;
}
}