extends layout.jade
block title
	title Ошибка
block depending
	link(rel="stylesheet", href="resources/style/message/message-all.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/error-message.css", type="text/css", media="all")
block header
	include mixins/mixin_message_header.jade
	+create-header()
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					.message-block-text-info
						b
							p
								| OOPS!
					.message-block-text-info
						p
							Похоже что-то пошло не так.