extends layout.jade
block title
	title Отказ принят
block depending
	link(rel="stylesheet", href="resources/style/message/message-all.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/style/message/message_deny_in_rent.css", type="text/css", media="all")
block header
	include mixins/mixin_message_header.jade
	+create-header()
block content
	.my-content
		.message-block
			.message-block-inside
				.message-block-text
					p
						Ваш отказ принят