extends layout.jade
block title
    title Добавить объявление
block content
    .b-content
        form(role="form", action="/add", method="post", enctype="multipart/form-data")
            input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
            include mixins/mixin_form_crud_announcement.jade
            +form("РАЗМЕСТИТЬ")
block local-scripts
    script(src='resources/scripts/crud-announcement/hide-backet.js')
    script(src='resources/scripts/crud-announcement/add-photo.js')    