extends layout.jade
block title
	title Заявка отклонена
block depending
	link(rel="stylesheet", href="resources/blocks/message.css", type="text/css", media="all")
block header
	include mixins/mixin_message_header.jade
	+create-header()
block content
	include mixins/mixin_message.jade
	+create-message("Вы отклонили заявку","resources/pages/message/images/application_is_rejected.png")