extends layout.jade
block title
    title Заявка подтверждена
block header
    include partial/message_header.jade
block content
    include mixins/mixin_message.jade
    +create-message("Заявка подтверждена","resources/images/message/confirm_deal.png")