extends layout.jade
block title
    title Заявка подтверждена
block depending
    link(rel="stylesheet", href="resources/blocks/message.css", type="text/css", media="all")
block header
    include mixins/mixin_message_header.jade
    +create-header()
block content
    include mixins/mixin_message.jade
    +create-message("Заявка подтверждена","resources/images/message/confirm_deal.png")