extends layouts/layout.jade
block title
    title Ошибка
block header
    include partial/message_header.jade
block content
    include mixins/mixin_message.jade
    +create-message("OOPS! Похоже что-то пошло не так.","")