extends layouts/layout.jade
block title
    title История сделок
block content
    .b-content
        include mixins/mixin_user_info.jade
        +create-user-info(true)
        if goods
            .b-user-list-announcements
                .b-user-list-announcements__content
                    .b-title--default.b-title--blue.b-title--padding-none
                        .b-title-with-devision__text
                            b
                                p
                                    История аренды
                        .b-title-with-devision__text.b-title-with-devision__text--right
                            a.a-history(href="/history")
                                p
                                    Объявления
                        .b-title-with-devision__devide-line.b-title-with-devision__devide-line--right
                    each Goods in goods
                        - userId = Goods.authorId;
                        - userAva = Goods.authorImage;
                        +list(Goods, userId, userAva, "Арендодатель", true)
        else
            .b-history--empty
                p
                    Здесь могла бы быть история ваших сделок        