doctype html
html
    head
        block title
            title Дай погонять
        include partial/meta.jade
        include partial/favicon.jade
        include partial/style.jade
    body
        .b-index-container
            include partial/header.jade
            if(!isAuth)
                .b-lending-element__base-color
                    .b-lending-element__background-image
                        .b-lending-element__name-service
                            p
                                Дай погонять
                        .b-lending-element__motto
                            p
                                Сервис по поиску и аренде спортивного оборудования
                        .b-lending-element__button-content
                            a(href="/add")
                                button.b-lending-element__button-add-announcement(type='button')
                                    b
                                        p
                                            ДАТЬ ОБЪЯВЛЕНИЕ
                                a(href="/#seeAll")
                                    button.b-lending-element__button-see-announcement(type='button')
                                        b
                                            p
                                                ВСЕ ОБЪЯВЛЕНИЯ
            include mixins/mixin_list_all_announcement.jade
            .b-content
                a(name="seeAll")
                    .b-list-announcements
                        each Goods in goods
                            - userId = Goods.authorId;
                            - userAva = Goods.authorImage;
                            +list(Goods, userId, userAva, "РЕДАКТИРОВАТЬ", false)
        block scripts
            include partial/scripts.jade
