doctype html
html
    head
        block title
            title Дай погонять
        include partial/meta.jade
        meta(name="_csrf", content="#{_csrf.token}")
        meta(name="_csrf_header", content="#{_csrf.headerName}")
        include partial/favicon.jade
        include partial/style.jade
        block depending
    body
        .b-container
            block header
                include partial/header.jade
            block content
        block scripts
            include partial/scripts.jade
        block local-scripts
