extends registration-authorization.jade
block title
    title Авторизация
block depending
block form
    form(role="form", action="/login", method="post")
        input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
        input.b-input--default.b-input--border-none#userEmail.form-control(type="email", name='username',placeholder="E-MAIL")
        input.b-input--default.b-input--border-none#passtext.form-control(type="password", name='password',placeholder="ПАРОЛЬ")
        .b-form-authentication__forgot-pass
            a.registration-a-color(href="/")
                p
                    Забыли пароль?
        input.b-button--default.b-button--blue.b-button--authentication(type='submit', value='ВОЙТИ')
        .b-form-authentication__to-registration
            text
                Еще не зарегистрированы?
            a.registration-a-color(href="/registration",style="padding-left: 3px;")
                text
                    Регистрация.