extends layouts/layout.jade
block title
    title Отказ принят
block header
    include partial/message_header.jade
block content
    include mixins/mixin_message.jade
    +create-message("Ваш отказ принят","")