extends layouts/layout.jade
block title
    title Подтвердить окончание аренды
block header
    include partial/message_header.jade
block content
    include mixins/mixin_message_with_buttons.jade
    - textFirstPart = "Срок аренды еще не закончен."
    - textSecondPart = "Вы уверены, что хотите закончить аренду?"
    +create-message(textFirstPart,textSecondPart, "Да", "Нет")