extends layouts/layout.jade
block title
    title Дай погонять
block content
    .b-content
        include mixins/mixin_user_info.jade
        include mixins/mixin_users_announcement_list.jade
        +create-user-info(false)
        .b-user-list-announcements
            .b-user-list-announcements__content
                .b-title--default.b-title--blue
                    b
                        p
                            Объявления
                +list(goods)