extends layouts/layout.jade
block title
    title Дай погонять
block header
    .b-header
        .b-header__header
            .b-header__content
                a(href="/")
                    .b-logo
                .b-header__menu
                    a.header-a-color(href="/logout")
                        b
                            p
                                ВЫХОД
                .b-header__menu
                    a.header-a-color(href="/add")
                        b
                            p
                                ДАТЬ ОБЪЯВЛЕНИЕ
                .b-header__dropdown-menu-ico.js-dropdown-ico
                    h1
                        img(src="resources/images/layout/menu.png", width="25", height="15")
        .b-header__dropdown-menu.js-dropdown-menu
                ul
                    li
                        a.header-a-color(href="/add") 
                            p 
                                ДАТЬ ОБЪЯВЛЕНИЕ
                    li
                        a.header-a-color(href="/logout") 
                            p 
                                ВЫХОД
block content
    .b-content
        include mixins/mixin_user_info.jade
        +create-user-info(true)
        include mixins/mixin_users_announcement_list.jade
        .b-user-list-announcements
            .b-user-list-announcements__content
                .b-title--default.b-title--blue.b-title--padding-none
                    .b-title-with-devision__text
                        b
                            p
                                Объявления
                    .b-title-with-devision__text.b-title-with-devision__text--right
                        a.a-history(href="/history")
                            p
                                История
                    .b-title-with-devision__devide-line.b-title-with-devision__devide-line--right
                +list(goods)