doctype html
html
    head
        block title
            title Дай погонять
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name="_csrf", content="#{_csrf.token}")
        meta(name="_csrf_header", content="#{_csrf.headerName}")
        include mixins/mixin_favicon.jade
        link(rel="stylesheet", href="resources/library/reset.css", type="text/css", media="all")
        link(rel="stylesheet", href="resources/library/normalize.css", type="text/css", media="all")
        link(href='http://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        link(rel="stylesheet", href=assets.getVersionedResourceUrl("resources/build/bundle#version.css"), type="text/css", media="all")
    body
        .b-reg-auth-container
            .b-form-authentication
                .b-logo(onclick="location.href='/'", style="margin-bottom: 15px;")
                include mixins/mixin_er.jade
                +err(errors)
                block form
