extends registration-authorization.jade
block title
	title Авторизация
block depending
	link(rel="stylesheet", href="resources/blocks/form-registration.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/blocks/buttons.css", type="text/css", media="all")
	link(rel="stylesheet", href="resources/blocks/input.css", type="text/css", media="all")
block form
	form(role="form", action="/registration", method="post")
		input.b-input__default#name.form-control(type="text", name='firstName', placeholder="ИМЯ")
		input.b-input__default#userEmail.form-control(type="email", name='eMail',placeholder="E-MAIL")
		input.b-input__default#passtext.form-control(type="password", name='password',placeholder="ПАРОЛЬ")
		input.b-button__default.b-button__blue(type='submit', value='РЕГИСТРАЦИЯ')