extends registration-authorization.jade
block title
    title Авторизация
block form
    form(role="form", action="/registration", method="post")
        input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
        input.b-input--default.b-input--border-none#name.form-control(type="text", name='firstName', placeholder="ИМЯ")
        input.b-input--default.b-input--border-none#userEmail.form-control(type="email", name='eMail',placeholder="E-MAIL")
        input.b-input--default.b-input--border-none#passtext.form-control(type="password", name='password',placeholder="ПАРОЛЬ")
        input.b-button--default.b-button--blue.b-button--authentication(type='submit', value='РЕГИСТРАЦИЯ')