extends layout.jade
block title
    title Обновить объявление
block content
    form(role="form", action="/update?announcement_id=#{goods.id}", method="post", enctype="multipart/form-data")
        input(type='hidden', name='#{_csrf.parameterName}', value='#{_csrf.token}')
        include mixins/mixin_form_crud_announcement.jade
        +form("СОХРАНИТЬ")
block local-scripts
    script(src='resources/scripts/crud-announcement/add-photo.js')
    script(src="resources/scripts/crud-announcement/hide-backet.js")
