doctype html
head
	title Объявление
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css", type="text/css", media="all")
	link(rel="stylesheet", href="style.css", type="text/css", media="all")
	script(type="application/javascript", th:src="@{/vendor/scripts/jquery-2.1.4.min.js}")
	script(type="application/javascript", th:src="@{/vendor/scripts/bootstrap.min.js}")
	script(type="application/javascript", th:src="@{/scripts/app.js}")
body
	.container
		.row
			.col-lg-6
				a(href="/")
					img(src="images/logo.png", align="left", width="512", height="134")
			.col-lg-6
				label.motto-position(for="name")
					h4 Сервис по поиску и аренде спортивного оборудования
		.row
			.col-lg-3
				a(href="/")
					button.btn.btn-color.btn-block.btn-lg(type="button") Все объявления
		include mixin_announcement.jade
		+announcement(Goods)
